.productBlock {
  width: 90%;
  height: 12.5rem;
  margin: 20px auto;
  background-color: white;
  border-radius: 6px;

   a{
     color: black;
     &:hover {
       color: black;
     }
   }

  .productImageBlock {
    width: 100%;
    height: 9rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: table;
    position: relative;
    background: #f7f7f9;
  }

  .productImageHolder {
    width: 100%;
    height: 9rem;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .productMainImage {
    max-width: 100%;
    max-height: 100%;
  }


  .productInfoBlock {
    margin-top: 10px;
    margin-left: 15px;
  }

  .productTitle {
    font-size: 0.7rem;
    font-weight: 400;
  }
  .productPrice {
    font-size: 0.7rem;
    color: red;
  }
  .productYuan {
    font-size: 0.5rem;
    color: red;
  }

  @media (max-width: 767px) {
    height: 10rem;

    .productImageBlock,
    .productImageHolder {
      height: 7rem;
    }

    .productInfoBlock {
      font-size: 0.55rem;
    }

  }
}
