.bottom-fixed {
    width: 100%;
    max-width: 800px;
    position: fixed;
    left: 50%;
    bottom: 0;
    z-index: 99;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.flex_sum {
    min-width: 30%;
    font-size: 13px!important;
    text-align: right;
    padding-right: 15px;
    display: flex;
    flex-flow: column;
    background-color: white;
}
.flex_sum p {
    flex: 1;
    vertical-align: middle;
}
.flex_sum em{
    color: red;
}