@charset "UTF-8";
.navMenu {
    height: 100vh;
    width: 100vh;
}

.search-land {
    background-color: #fff;
    position: fixed;
    display: block;
}
.category-viewport {
    height: auto;
    min-height: 100%;
}
.category-categoryNewUi .jd-category-tab {
    width: 86px;
    background: #f8f8f8;
}

.jd-category-tab {
    float: left;
    min-width: 76px;
    width: 76px;
    height: auto;
    overflow-y: auto;
    min-height: 100%;
}
.category-categoryNewUi .jd-category-tab ul {
    width: 85px;
}
.category-viewport li, .category-viewport ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.jd-category-tab li {
    height: 46px;
    line-height: 46px;
    background: #fff;
    text-align: center;
    position: relative;
}
.category-categoryNewUi .jd-category-tab li {
    background: #f8f8f8;
}
.category-viewport li, .category-viewport ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.category-categoryNewUi .jd-category-tab a {
    color: #333;
    font-size: 14px;
}
.jd-category-tab a {
    display: block;
    width: 100%;
    height: 46px;
    line-height: 46px;
    text-decoration: none;
    font-size: 13px;
    color: #080808;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.category-categoryNewUi .jd-category-content {
    background-color: #fff;
}
.jd-category-content {
    height: auto;
    min-height: 100%;
    width: 100%;
    font-size: 12px;
    color: #252525;
    background-color: #f3f5f7;
}
.category-categoryNewUi .jd-category-content .jd-category-content-wrapper {
    margin-left: 86px;
}
.jd-category-content .jd-category-content-wrapper {
    margin-left: 76px;
}

.jd-category-content #branchList {
    overflow: hidden;
    padding-bottom: 10px;
}
.jd-category-content .jd-category-div.cur {
    display: block;
}
.jd-category-content .jd-category-div {
    display: none;
    margin: 19px 7px 0;
}
.jd-category-loadfail {
    width: 100%;
    display: table;
    vertical-align: middle;
    text-align: center;
}
.loadfail-content {
    padding: 25px;
    vertical-align: middle;
    text-align: center;
}
.loadfail-content .failing {
    width: 82px;
    height: 62px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKQAAAB9CAYAAAAshMimAAAABGdBT…c30igPFVJAVl5zpP+zs5CV8+QE2TN28YQJoao7kqVC/i/AAJiDZRps3UTsAAAAAElFTkSuQmCC) no-repeat;
    background-size: 82px 62px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.loadfail-content span {
    margin-top: 38px;
    display: block;
    font-size: 17px;
}
.loadfail-content .btn-loadfail {
    display: block;
    width: 70px;
    height: 25px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAAyCAYAAACOADM7AAAABGdBT…I5yzOT9LwkwGNw+HcfH6fjVBRXRIofk38fsDWpB2z9I8AAcnDU496EolYAAAAASUVORK5CYII=) no-repeat;
    background-size: 70px 25px;
    margin: 10px auto;
}