.address-item {
    background-color: white;
}

.address-default:after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-image: url('../../../images/icon-address1.png');
    background-size: auto 3px;
    background-repeat: repeat-x;
    position: absolute;
    left: 0;
    bottom: -10px;
    z-index: 9;
}

.address-item .icon_margin:before {
    margin-right: 6px;
}

.address-default .default-button {
    background-color: orange !important;
    color: white !important;
}

.address-item .set-button {
    color: orange!important;
    border: 1px solid orange!important;

}
.address-default
{
    background-color: #fffdf9!important;
}

.address-item .command-area {
    font-size: 15px!important;
}

