.form_page
{
    height: 100%;
    text-align: center;
}
.form_page img{
    width: 7rem;
    height: 7rem;
    margin-top: 1rem;
}
.form_page h1{
    line-height: 1.1;
    margin: 0.9rem 0 1.65rem 0;
    color: #666;
    font-size: 0.65rem;
    font-weight: normal;
}

.form_page select{
    direction:rtl;
    color: #999;
}
.short_button
{
    width: 15rem!important;
}
.level_form .weui-cell__ft
{
    font-size: 17px!important;
}
.level_form:after {
    border-bottom: none!important;
}