@import "reset.css";
@import "workbench.css";
@import "form.css";
@import "mine.css";
@import "qr_code.css";
@import "shop.css";
/*@import "../shared/styles/category_menu.css";*/
@import "products.css";
@import "../cart/styles/cart.css";
@import "./pages/checkout.css";
@import "msg.css";
.container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.container>div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.weui-cell__hd i{
    display: block;
    width: 20px;
    margin-right: 10px;
}
.weui-cell__hd .icon-dailishang1 {
    color: #1BB2FF;
}
.weui-cell__hd .icon-xiajiangyiji {
    transform: rotate(180deg);
    color: #7DCB29;
}
.weui-cell__hd .icon-shengji2 {
    text-indent: -0.01rem;
    color: #FF992C;
}

.weui-cell__hd .icon-jiangji1 {
    transform: rotate(90deg);
    color: #0FAEFF;
}

.weui-cell__hd .icon-zidongkoukuan1 {
    color: #55C6FF;
}
.weui-cell__hd .icon-bank-card {
    color: #7DCB29;
}
.weui-cell__hd .icon-kuaisudakuan {
    color: #FF992C;
    vertical-align: sub;
}
.tab-item_on p{
    color: #1AAC19 !important
}
.tab-item_on .img_on
 {
     display: block!important;
 }
.tab-item_on .img_off
{
    display: none!important;
}
.tab-item_off .img_on
{
    display: none;
}
.tab-item_off .img_off
{
    display: block;
}
