@charset "UTF-8";
.mine_header {
    overflow: hidden;
    font-size: 0.8rem;
}
.mine_header span {
    font-size: 0.45rem;
    padding-left: 0.3rem;
}
.mine_header .weui-grid__label{
    color: #999!important;
}
.mine_header .weui-grid__icon {
    width: 100%!important;
    text-align: center;
    display:block;
    word-break:keep-all;      /* 不换行 */
    white-space:nowrap;       /* 不换行 */
    overflow:hidden;          /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;
}
.icon_img {
    width: 0.8rem;
    height: 0.8rem;
    display: block;
    margin-right: 0.5rem;
}