.msg_nav .weui-navbar__item
{
    /*font-size: 0.65rem!important;*/
    color: #333;
    background-color: #FFF;
    border-bottom: 0.01rem solid #E6E6E6;
    width: 100%;
    overflow: hidden;
    padding: 0.5rem 0!important;
    line-height: 0.75rem!important;
    font-size: 0.6rem!important;
}
.msg_nav .weui-bar__item_on{
    color: #1AAC19;
    border-bottom: 0.1rem solid #1AAC19;

}
.msg_nav .msg_avatar
{
    width: 2.5em;
    height:2.5em;
    overflow: hidden;
}
.msg_nav .icon{
    font-size: 6em;
    bottom:0;
    right: 0;
    position: absolute;
}
.red {
    color: red;
}
.tb_body_item {
    overflow-y:hidden;
}
.tb_body_item::-webkit-scrollbar{
    display: none;
}
.msg_nav .react-weui-infiniteloader__content{
    overflow: hidden!important;
}