.bottom-fixed {
    width: 100%;
    max-width: 640px;
    position: fixed;
    left: 50%;
    bottom: 0;
    z-index: 99;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.footer {
    height: 50px;
    box-shadow: 0 -1px 3px 3px rgba(0, 0, 0, 0.1);
}
.bt-f1 {
    border-top: 1px solid #f1f1f1;
}
.fs10 {
    font-size: 11px;
}
.bgf {
    background-color: #fff;
}
.tc {
    text-align: center;
}
.table {
    width: 100%;
    display: table;
    table-layout: fixed;
}
.footer a {
    color: #909090;
}
.m-col-14 {
    width: 14%;
}
.vm {
    vertical-align: middle;
}
.br {
    border-right: 1px #dadada solid;
}
.table-cell {
    display: table-cell;
}
.footer .block[class*="ico-foot"] {
    display: block;
    margin-right: auto;
    margin-left: auto;
    top: 0;
}
.footer [class*="ico-foot"] {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    /*background-image: url("../images/icon-goods.png");*/
    background-size: 22px auto;
    background-repeat: no-repeat;
    position: relative;
    top: -2px;
    margin-right: 3px;
}
.footer i {
    display: block;
    width: 25px;
    height: 25px;
    /*background-image: url("../images/icon-footer.png");*/
    background-size: auto 50px;
    background-repeat: no-repeat;
}
.ico-foot0 {
    background-position: 0 0px;
}
.ma {
    margin-right: auto;
    margin-left: auto;
}
.block {
    display: block;
}
.ma {
    margin-left: auto;
    margin-right: auto;
}
.footer a.colf {
    color: #fff;
}
.footer a {
    color: #909090;
}
.bg-orange {
    background-color: #ff9000;
}
.colf {
    color: #fff;
}

.footer a.colf {
    color: #fff;
}
.footer a {
    color: #909090;
}
.bg-red {
    background-color: #f15151;
}
.colf {
    color: #fff;
}
.fs15 {
    font-size: 17px;
}
.colf {
    color: #fff;
}
.fs15 {
    font-size: 15px;
}
.vm {
    vertical-align: middle;
}
.table-cell {
    display: table-cell;
}