.qr_code_page
{
    height: 100%;
    width: 100%;
    background-color: #2D3132;
}
.qr_code_panel{
    width: 15rem;
    margin: 2.25rem auto 0 auto!important;
    border-radius: 0.2rem;
    overflow: hidden;
}
.qr_code_panel .qr_code_img{
    position: relative;
    width: 13rem;
    height: 13rem;
    margin: auto;
    padding: 0.3rem 0;
}
.qr_code_img img{
    width: 100%;
    height: 100%;
}
.qr_code_panel .txt {
    width: 15rem;
    padding-bottom: 0.75rem;
    margin: 0 auto 0 2rem;
}

.qr_code_panel .txt p {
    margin-bottom: 0.5rem;
    line-height: 1;
    font-size: 0.4rem;
    color: #333;
}