body,h1,h2,h3,h4,p,dl,dd,ul,ol,form,input,textarea,th,td,select{
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}
body {background-color: #F0EFF4}
ul li{
	float: left;
}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: middle;}
table{border-collapse: collapse;}
input,textarea{outline: none;}
textarea{resize:none;overflow: auto;}

html {
	font-size : 20px;
}
@media only screen and (min-width: 401px){
	html {
		font-size: 25px !important;
	}
}
@media only screen and (min-width: 428px){
	html {
		font-size: 26.75px !important;
	}
}
@media only screen and (min-width: 481px){
	html {
		font-size: 30px !important;
	}
}
@media only screen and (min-width: 569px){
	html {
		font-size: 35px !important;
	}
}
@media only screen and (min-width: 641px){
	html {
		font-size: 40px !important;
	}
}

.fl{float: left;}
.fr{float: right;}
.clear:after{
	content: '';
	display: block;
	clear: both;
}