.shop_page{
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content:space-between;
}

.list-container{
    display: flex;
    display: -webkit-flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    will-change: overflow;
    box-sizing: border-box;
}

.list-container .left-category,
.list-container .right-product{
    overflow: auto;
    height: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
.left-category::-webkit-scrollbar,
.right-product::-webkit-scrollbar
{
    display: none;
}
.left-category{
    width: auto;
    background-color:#fff;
    -moz-box-shadow:1px 0px 10px #474747;
    -webkit-box-shadow:1px 0px 10px #474747;
    box-shadow:1px 0px 10px #474747;
}
.left-category .active-category
{
    background-color:#F0EFF4 ;
}
.right-product {
    width:100%;
    flex: 1;
}