/*workbenchPage*/
.desk-head-user {
    width: 100%;
    margin-bottom: 0.3rem;
    overflow: hidden;
    padding-left: 0rem!important;
}
.desk-head-user  .desk-user-img{
    margin-right: 0.5rem;
}
.desk-head-user img {
    float: left;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;

}
.swiper_container {
    width: 100%;
    height: 8.5rem;
    margin-top: 0px!important;
}
.swiper-carousel-container {
    width: 100%;
    height: 7.8rem;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    overflow: hidden;
    /*background-color: #0FAEFF;*/
}

.swiper-msg-container{
    width: 100%;
    height: 1.5rem;
}
.desk_icon_contianer {
    margin: 0.8rem 0;
}
.desk_icon_contianer .desk_ul_1,.desk_icon_contianer .desk_ul_2{
    width: 100%;
    margin: 0.5rem 0;
    overflow: hidden;
}
.desk_icon_contianer .desk_ul_2{
    margin: 0;
}
.desk_ul_1>li {
    width: 31%;
}
.desk_icon_contianer .desk_ul_1 > li:nth-child(2) {
    padding: 0 3.5%;
}
.desk_ul_1 img,.desk_ul_2 img {
    width: 100%;
}

.desk_icon_contianer .desk_ul_2> li:nth-child(1) {
    width: 31%;
    margin-right: 3.5%;
}
.desk_icon_contianer .desk_ul_2> li:nth-child(2) {
    width: 65.5%;
}
.workbench_upper{
    padding: 0.5rem 0.65rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.workbench_upper .weui-media-box
{
    padding: 0px!important;
}
.wx_desk_menu {
    overflow: hidden;

}
.wx_desk_menu > ul {
    width: 100%;
    overflow: hidden;
}
.wx_desk_menu> ul > li {
    width: 25%;
    height: 4rem;
    padding-top: 0.08rem;
}
.wx_desk_menu ul li  p {
    text-align: center;
    height: initial;
    font-size: 0.6rem;
    color: black;
}
.wx_desk_menu ul li i {
    margin-bottom: 0.02rem;
    height: initial;
    font-size: 1.7rem;
}
.wx_head_menu {
    color: #999;
}
.icon-xiaoxi{
    float: right;
    width: 1rem;
    height: 1rem;
    line-height: 1;
    font-size: 1rem;
    transform: scaleX(-1);
}

.swiper-pagination-bullets{
    bottom: 0rem!important;
}
.swiper-pagination-bullet{
    width: 0.5rem!important;
    height: 0.25rem!important;
}
.swiper-pagination-bullet-active {
    background: #999 !important;
}

.desk-head-msg
{
    width: 100%;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 0.7rem;
    color: #333;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.desk-head-msg >div
{
    float: left;
    width: 11.5rem;
    height: 100%;
}
.icon-laba{
    float: left;
    width: 0.8rem;
    height: 100%;
    line-height: 1.75rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: #FF6B1A;
    vertical-align: text-bottom;
}
.icon-youjiantou-copy {
    float: right;
    margin-right: 0.2rem;
    font-size: 0.7rem;
    color: #8F8F8F;
}
.more_funct {
    font-size: 0.8rem;
}
.workbench_lower{
    height: 10rem!important;
}
.workbench_lower ul {
    height:4rem;
    background-color: white;
}

.workbench_lower .weui-navbar__item
{
    /*font-size: 0.65rem!important;*/
    color: #333;
    background-color: #FFF;
    border-bottom: 0.01rem solid #E6E6E6;
    width: 100%;
    overflow: hidden;
    padding: 0.5rem 0!important;
    line-height: 0.75rem!important;
    font-size: 0.6rem!important;
}
.workbench_lower .weui-bar__item_on{
    color: #1AAC19;
    border-bottom: 0.1rem solid #1AAC19;

}

.workbench_lower .weui-tab__panel{
    padding-top: 1.8rem!important;
}
