<!doctype html>
<html>
<head>
	<title>1.0首页</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">

<% include _foot-fixed-common.html %>

	<section class="main">

	  <section class="top-fixed">
	    <div class="flex-box flex-between fs13 top-search" style="background-color: transparent;">
	      <div class="search-btn-wrap flex-grow-1 pointer relative">
	        <i class="ico-search"></i>
	        <input type="text" class="" placeholder="搜索您需要的产品">
	        <div class="mask1"></div>
	      </div>
    		<div class="mask"></div>
	    </div>
	  </section>

		<!-- Swiper -->
    <div class="swiper-container index-ban">
        <div class="swiper-wrapper">
        	<div class="swiper-slide">
        		<img src="images/index-ban.jpg" alt="" class="block">
        	</div>
        	<div class="swiper-slide">
        		<img src="images/index-ban.jpg" alt="" class="block">
        	</div>
        	<div class="swiper-slide">
        		<img src="images/index-ban.jpg" alt="" class="block">
        	</div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <!-- index end -->

		<div class="table index-nav fs12 tc bgf">
			<a href="" class="table-cell bb br">
				<p class="fs18 red bold">381540</p>
				<p class="">累计福利池(元)</p>
			</a>
			<a href="" class="table-cell bb br">
				<p class="fs18 blue bold">6325</p>
				<p class="">已报销福利(元)</p>
			</a>
			<a href="" class="table-cell bb br">
				<p class="fs18 green bold">35</p>
				<p class="">正在进行中(个)</p>
			</a>
		</div>
		<div class="table index-nav fs12 tc bgf">
			<a href="" class="table-cell bb br">
				<p class="fs18 ora bold">98</p>
				<p class="">全部企业(家)</p>
			</a>
			<a href="" class="table-cell bb br">
				<p class="fs18 pink bold">1050</p>
				<p class="">全部员工(人)</p>
			</a>
			<a href="" class="table-cell bb br">
				<p class="fs18 red bold">38%</p>
				<p class="">我的报销比例</p>
			</a>
		</div>

		<div class="mt10 fs13 flex-box flex-wrap flex-col-stretch index-menu">
				<a href="" class="item flex-box flex-col-start flex-between bgf">
					<div>
						<p class="green bold fs15">新鲜果汁</p>
						<p>新鲜健康喝的到</p>
					</div>
					<img src="images/index-menu1.png" alt="" class="block flex-self-end">
				</a>
				<a href="" class="item flex-box flex-col-start flex-between bgf">
					<div>
						<p class="bold fs15" style="color:#1dc7ff;">踏春出游</p>
						<p>来场说走就走的旅行</p>
					</div>
					<img src="images/index-menu2.png" alt="" class="block flex-self-end">
				</a>
				<a href="" class="item flex-box flex-col-start flex-between bgf">
					<div>
						<p class="bold fs15" style="color:#e65f4c;">进口商品</p>
						<p>来自宝岛台湾的美味</p>
					</div>
					<img src="images/index-menu3.png" alt="" class="block flex-self-end">
				</a>
				<a href="" class="item flex-box flex-col-start flex-between bgf">
					<div>
						<p class="bold fs15" style="color:#4da9f0;">身体检查</p>
						<p>健康体魄 我们守护</p>
					</div>
					<img src="images/index-menu4.png" alt="" class="block flex-self-end">
				</a>
		</div>
		<!--  -->

		<a href="" class="link bgf mt10 ptb10 pl10 arrowR fs15 red">
			预售团购
		</a>
		<!--  -->
		<ul class="">
		  <li class="mt1">
		    <a href="" class="p10 bgf flex-box flex-col-start">
		      <div class="flex-grow-0 m-col-25 ba">
		        <div class="item-pic">
		          <img src="images/list-img1.jpg" alt="">
		        </div>
		      </div>
		      <div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch hidden">
		        <div>
		          <p class="fs14 col0 single-line">我是标题我是标题我是标题我是标题我是标题我是标题</p>
		          <p class="multi-line col9 fs12">
		            我是描述我是描述我是描述我是描述我是描述我是描述我是描述我是描述我是描述我是描述
		          </p>
		        </div>
		        <div class="flex-box flex-between fs13 col3">
		          <p>
		            <span>企业</span>
		            <span class="ora">1%</span>
		            <span>个人</span>
		            <span class="ora">8%</span>
		          </p>
		          <span class="red fs15">¥3688/人</span>
		        </div>
		      </div>
		    </a>
		  </li>
		  <li class="mt1">
		    <a href="" class="p10 bgf flex-box flex-col-start">
		      <div class="flex-grow-0 m-col-25 ma">
		        <div class="item-pic">
		          <img src="images/list-img.jpg" alt="">
		        </div>
		      </div>
		      <div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch flex-grow-1">
		        <div class="multi-line fs15 col0">
		          <span class="index-group-tag">
										<img src="images/index-hot.png" alt="" class="block">
									</span>
		          <span class="">上海青浦奶油草莓2盒  不能莓有你 礼盒不能莓有你 礼盒不能莓有你 礼盒</span>
		        </div>
		        <div>
		          <p id="countdown0" class="colb countdown">剩余
		            <!-- <span class="count">{dn}</span>
										<span class="col3">{dl}</span> -->
		            <span class="count blue">{hn}</span>:<span class="count blue">{mn}</span>:<span class="count blue">{snn}</span> 结束
		          </p>
		          <div class="flex-box flex-between">
		            <span class="fs15 red">￥688</span>
		            <span class="colb fs12">39867人购买</span>
		          </div>
		        </div>
		      </div>
		    </a>
		  </li>
		</ul>

		<!--  -->
		<div class="mt10 ptb10 bgf">
			<a href="" class="arrowR block plr10 fs15 red">
				为你推荐
			</a>
		</div>

		<a href="" class="link block bgf mt10 ptb10 pl10 arrowR fs15 red">
			为你推荐
		</a>
		<!--  -->
		<ul class="weui-row list-col-2">
			<li class="weui-col-50">
				<a href="">
						<div class="item-pic"><img src="images/index-re1.jpg" alt="" class="block"></div>
						<div class="p8 bgf">
							<p class="multi-line fix-height fs14 col0">小白熊 恒温调奶器 多功能冲泡奶粉机</p>
							<div class="single-line">
								<span class="red fs14 mr5">¥600.00</span>
								<del class="fs12 colb">¥668.00</del>
							</div>
						</div>
					</a>
			</li>
			<li class="weui-col-50">
				<a href="">
				  <div class="item-pic"><img src="images/index-re2.jpg" alt="" class="block"></div>
				  <div class="p8 bgf">
				    <p class="multi-line fix-height fs14 col0">小白熊 恒温调奶器 多功能冲泡奶粉机</p>
				    <div class="single-line">
				      <span class="red fs14 mr5">¥600.00</span>
				      <del class="fs12 colb">¥668.00</del>
				    </div>
				  </div>
				</a>
			</li>
			<li class="weui-col-50">
				<a href="">
					<div class="item-pic">
						<img src="images/index-re3.jpg" alt="" class="block">
					</div>
					<div class="p8 bgf">
						<p class="multi-line fix-height fs14 col0">小白熊 恒温调奶器 多功能冲泡奶粉机</p>
						<div class="single-line">
							<span class="red fs14 mr5">¥600.00</span>
							<del class="fs12 colb">¥668.00</del>
						</div>
					</div>
				</a>
			</li>
			<li class="weui-col-50">
				<a href="">
					<div class="item-pic">
						<img src="images/index-re4.jpg" alt="" class="block">
					</div>
					<div class="p8 bgf">
						<p class="multi-line fix-height fs14 col0">小白熊 恒温调奶器 多功能冲泡奶粉机</p>
						<div class="single-line">
							<span class="red fs14 mr5">¥600.00</span>
							<del class="fs12 colb">¥668.00</del>
						</div>
					</div>
				</a>
			</li>
		</ul>

		<a href=""><img src="images/index-ad.jpg" alt="" class="block mt10"></a>

		<a href="" class="link block bgf mt10 ptb10 pl10 arrowR fs15 red">
			更多产品
		</a>
		<!--  -->
		<ul class="weui-row list-col-2">
			<li class="weui-col-50">
				<a href="">
						<div class="item-pic"><img src="images/index-re1.jpg" alt="" class="block"></div>
						<div class="p8 bgf">
							<p class="multi-line fix-height fs14 col0">小白熊 恒温调奶器 多功能冲泡奶粉机</p>
							<div class="single-line">
								<span class="red fs14 mr5">¥600.00</span>
								<del class="fs12 colb">¥668.00</del>
							</div>
						</div>
					</a>
			</li>
			<li class="weui-col-50">
				<a href="">
				  <div class="item-pic"><img src="images/index-re2.jpg" alt="" class="block"></div>
				  <div class="p8 bgf">
				    <p class="multi-line fix-height fs14 col0">小白熊 恒温调奶器 多功能冲泡奶粉机</p>
				    <div class="single-line">
				      <span class="red fs14 mr5">¥600.00</span>
				      <del class="fs12 colb">¥668.00</del>
				    </div>
				  </div>
				</a>
			</li>
			<li class="weui-col-50">
				<a href="">
					<div class="item-pic">
						<img src="images/index-re3.jpg" alt="" class="block">
					</div>
					<div class="p8 bgf">
						<p class="multi-line fix-height fs14 col0">小白熊 恒温调奶器 多功能冲泡奶粉机</p>
						<div class="single-line">
							<span class="red fs14 mr5">¥600.00</span>
							<del class="fs12 colb">¥668.00</del>
						</div>
					</div>
				</a>
			</li>
			<li class="weui-col-50">
				<a href="">
					<div class="item-pic">
						<img src="images/index-re4.jpg" alt="" class="block">
					</div>
					<div class="p8 bgf">
						<p class="multi-line fix-height fs14 col0">小白熊 恒温调奶器 多功能冲泡奶粉机</p>
						<div class="single-line">
							<span class="red fs14 mr5">¥600.00</span>
							<del class="fs12 colb">¥668.00</del>
						</div>
					</div>
				</a>
			</li>
		</ul>

	</section>

</section>

<% include _to-top.html %>

<% include _foot.html %>


<!-- search 变色-->
<script>
	$(function(){
		var $mask = $(".top-search .mask");
		var $mask1 = $(".search-btn-wrap .mask1");
		var $input = $(".search-btn-wrap");
		var windowWidth = $(window).width();
		const h = windowWidth * 400 / 750 - 50;
		var windowSrollTop = $(window).scrollTop();
		if(windowSrollTop >= 400){
			$mask.css({"opacity": 1});
			$(".top-search").addClass("css1");
		}
		$(window).scroll(function(){
			windowSrollTop = $(window).scrollTop();
			var ratio = windowSrollTop / h;
			if(ratio <= 2) {
				$mask.css({"opacity": ratio});
				if( ratio >= 0.4){
					$mask1.css({"opacity": ratio});
					$(".top-search").addClass("css1");
				} else {
					$(".top-search").removeClass("css1");
				}
			}
			console.log(h);
			console.log(windowSrollTop);
		});
	})
</script>
<!-- Initialize Swiper -->
<script>
var swiper = new Swiper('.index-ban', {
    pagination: '.index-ban .swiper-pagination',
    autoplay: 3000,
    loop: true
});
</script>

<script type="text/javascript" src="js/jquery.countdown.package-2.0.2/jquery.plugin.js"></script>
<script type="text/javascript" src="js/jquery.countdown.package-2.0.2/jquery.countdown.js"></script>
<script type="text/javascript" src="js/jquery.countdown.package-2.0.2/jquery.countdown-zh-CN.js"></script>
<script type="text/javascript">
	var newYear = '2017-11-7 11:19:00';
	newYear = new Date(newYear);
	var liftoffTime = newYear;
	var liftOff = function(){
//		alert('过期了');
		$('.countdown').html("已过期");
		$('.countdown').addClass("colf bg_ora plr5")
	};
	$('.countdown').countdown({
		until: liftoffTime,
		format: 'dHMS',
		// compact: true,
		layout: $('.countdown').html(),
		onExpiry: liftOff,
		alwaysExpire: true,
	});

</script>
<script src="js/jquery.toTop.min.js"></script>
</body>
</html>
