<!doctype html>
<html>
<head>
  <title>2.1a分类-侧边栏</title>
  <% include _head.html %>
</head>
<body class="bgf">
  <section class="wrap">
    <% include _foot-fixed-common.html %>
    <section class="top-fixed">
      <div class="flex-box flex-between fs13 p8 top-search" style="background-color: #efeff4">
        <div class="search-btn-wrap flex-grow-1 pointer">
          <i class="ico-search"></i>
          <input type="text" class="" placeholder="搜索您需要的产品">
        </div>
      </div>
    </section>
    <aside class="left-fixed">
      <div class="left-bar tc fs14">
        <a href="" class="">
				全部1
				</a>
          <a href="" class="active">
					全部
				</a>
          <a href="" class="">
					全部
				</a>
          <a href="" class="">
					母婴儿童
				</a>
          <a href="" class="">
					全部
				</a>
          <a href="" class="">
					全部
				</a>
          <a href="" class="">
					全部
				</a>
          <a href="" class="active">
					全部
				</a>
          <a href="" class="">
					全部
				</a>
          <a href="" class="">
					母婴儿童
				</a>
          <a href="" class="">
					全部1
				</a>
      </div>
    </aside>
    <section class="main">
      <ul class="clearfix pr15 pb10 fs12 tc col3 cata-list">
        <li>
          <a href="">
            <div class="item-pic ma">
              <img src="images/cata-img1.png" alt="" class="block ma">
              <!-- 1:1 等高图片 建议 200*200以上 -->
            </div>
            <p class="single-line mt5">金银饰品</p>
          </a>
        </li>
        <li>
          <a href=""><div class="br50">

          	  <div class="item-pic ma">
          	    <img src="images/cata-img2.png" alt="" class="block ma">
          	  </div>
          </div>
            <p class="single-line mt5">金银饰品1233</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="item-pic ma">
              <img src="images/cata-img3.png" alt="" class="block ma">
            </div>
            <p class="single-line mt5">金银饰品金银饰品</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="item-pic ma">
              <img src="images/cata-img1.png" alt="" class="block ma">
              <!-- 1:1 等高图片 建议 200*200以上 -->
            </div>
            <p class="single-line mt5">金银饰品</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="item-pic ma">
              <img src="images/cata-img1.png" alt="" class="block ma">
              <!-- 1:1 等高图片 建议 200*200以上 -->
            </div>
            <p class="single-line mt5">金银饰品</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="item-pic ma">
              <img src="images/cata-img2.png" alt="" class="block ma">
            </div>
            <p class="single-line mt5">金银饰品</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="item-pic ma">
              <img src="images/cata-img3.png" alt="" class="block ma">
            </div>
            <p class="single-line mt5">金银饰品金银饰品</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="item-pic ma">
              <img src="images/cata-img1.png" alt="" class="block ma">
              <!-- 1:1 等高图片 建议 200*200以上 -->
            </div>
            <p class="single-line mt5">金银饰品</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="item-pic ma">
              <img src="images/cata-img2.png" alt="" class="block ma">
            </div>
            <p class="single-line mt5">金银饰品</p>
          </a>
         </li>
        <li>
          <a href="">
            <div class="item-pic ma">
              <img src="images/cata-img2.png" alt="" class="block ma">
            </div>
            <p class="single-line mt5">金银饰品</p>
          </a>
         </li>
        <li>
          <a href="">
            <div class="item-pic ma">
              <img src="images/cata-img2.png" alt="" class="block ma">
            </div>
            <p class="single-line mt5">金银饰品</p>
          </a>
         </li>
        <li>
          <a href="">
            <div class="item-pic ma">
              <img src="images/cata-img2.png" alt="" class="block ma">
            </div>
            <p class="single-line mt5">金银饰品</p>
          </a>
         </li>
        <li>
          <a href="">
            <div class="item-pic ma">
              <img src="images/cata-img2.png" alt="" class="block ma">
            </div>
            <p class="single-line mt5">金银饰品</p>
          </a>
         </li>
        <li>
          <a href="">
            <div class="item-pic ma">
              <img src="images/cata-img2.png" alt="" class="block ma">
            </div>
            <p class="single-line mt5">金银饰品</p>
          </a>
         </li>
        <li>
          <a href="">
            <div class="item-pic ma">
              <img src="images/cata-img2.png" alt="" class="block ma">
            </div>
            <p class="single-line mt5">金银饰品</p>
          </a>
         </li>
        <li>
          <a href="">
            <div class="item-pic ma">
              <img src="images/cata-img2.png" alt="" class="block ma">
            </div>
            <p class="single-line mt5">金银饰品</p>
          </a>
         </li>
        <li>
          <a href="">
            <div class="item-pic ma">
              <img src="images/cata-img2.png" alt="" class="block ma">
            </div>
            <p class="single-line mt5">金银饰品</p>
          </a>
         </li>
      </ul>
    </section>
  </section>
  <section class="search-wrap bgf hide">
    <div class="flex-box flex-between fs13 top-search">
      <a href="javascript:;" class="fs13 mr10 col6 flex-box back-btn">
        <i class="ico-search-back"></i>
        <span>返回</span>
      </a>
      <div class="search-btn-wrap flex-grow-1 flex-box flex-between">
        <i class="ico-search flex-grow-0"></i>
        <input type="text" class="flex-grow-1" placeholder="搜索您需要的产品">
        <a href="" class="fs13 flex-grow-0 red plr5">搜索</a>
      </div>
    </div>
    <ul class="clearfix p10 fs12 search-list">
      <li class="mt10">
        <a href="">全部</a>
      </li>
      <li class="mt10">
        <a href="">全部</a>
      </li>
    </ul>
  </section>
  <!-- city-pick -->
  <% include _foot.html %>
    <script>
    //搜索
    $(".search-btn-wrap").on("click", function() {
      $(".search-wrap").show();
      $(".wrap").hide();
    });
    $(".back-btn").on("click", function() {
      $(".search-wrap").hide();
      $(".wrap").show();
    });
    </script>
</body>

</html>
