<!doctype html>
<html>

<head>
  <title>2.1d分类-搜索条</title>
  <% include _head.html %>
</head>
<!--  -->

<body class="">
  <section class="wrap">

    <% include _foot-fixed-common.html %>

      <section class="top-fixed">
        <div class="flex-box flex-between fs13 p8 top-search" style="background-color: #efeff4">
          <div class="search-btn-wrap flex-grow-1 pointer">
            <i class="ico-search"></i>
            <input type="text" class="" placeholder="搜索您需要的产品">
          </div>
        </div>
      </section>
      <!--  -->
      <section class="main">
        <ul class="list">
          <li>
            <a href="" class="p10 bgf flex-box flex-col-start">
              <div class="flex-grow-0 m-col-25">
                <div class="item-pic">
                  <img src="images/list-img1.jpg" alt="">
                </div>
              </div>
              <div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch hidden">
	              <div>
	                <p class="fs14 col0 single-line">我是标题我是标题我是标题我是标题我是标题我是标题</p>
	                <p class="multi-line col9 fs12">
                    我是描述我是描述我是描述我是描述我是描述我是描述我是描述我是描述我是描述我是描述
                  </p>
                </div>
                <div class="flex-box flex-between fs13 col3">
                  <p>
                  	<span>企业</span>
                  	<span class="ora">1%</span>
                  	<span>个人</span>
                  	<span class="ora">8%</span>
                  </p>
                  <span class="red fs15">¥3688/人</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <!--  -->
      </section>
  </section>
  <section class="search-wrap bgf hide">
    <div class="flex-box flex-between fs13 top-search">
      <a href="javascript:;" class="fs13 mr10 col6 flex-box back-btn">
        <i class="ico-search-back"></i>
        <span>返回</span>
      </a>
      <div class="search-btn-wrap flex-grow-1 flex-box flex-between">
        <i class="ico-search flex-grow-0"></i>
        <input type="text" class="flex-grow-1" placeholder="搜索您需要的产品">
        <a href="" class="fs13 flex-grow-0 red plr5">搜索</a>
      </div>
    </div>
    <ul class="clearfix p10 fs12 search-list">
      <li class="mt10">
        <a href="">全部</a>
      </li>
      <li class="mt10">
        <a href="">全部</a>
      </li>
    </ul>
  </section>
  <!-- city-pick -->
<% include _foot.html %>

    <script>
    //搜索
    $(".search-btn-wrap").on("click", function() {
      $(".search-wrap").show();
      $(".wrap").hide();
    });
    $(".back-btn").on("click", function() {
      $(".search-wrap").hide();
      $(".wrap").show();
    });
    </script>
</body>

</html>
