<!doctype html>
<html>

<head>
  <title>3.0产品详情</title>
  <% include _head.html %>
</head>

<body class="">
  <section class="wrap">

  <% include _foot-fixed-detail.html %>
    <section class="main">
      <!-- Swiper -->
      <div class="swiper-container detail-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide bgf"><img src="images/detail-ban.jpg" alt="" class="block"></div>
          <div class="swiper-slide bgf"><img src="images/detail-ban.jpg" alt="" class="block"></div>
          <div class="swiper-slide bgf"><img src="images/detail-ban.jpg" alt="" class="block"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
      <div class="bgf p10">
        <p class="fs16 col0 bold single-line">普吉岛7天往返含税机票(赠送5天wifi) </p>
        <p class="col6 fs13 multi-line">线上提交材料，为你快速注册公司</p>
        <!--  -->
        <div class="flex-box flex-between">
          <div class="red fs15">￥<span class="fs20 bold">688</span>/人</div>
          <div class="fs12 colb">已售：31件</div>
        </div>
        <!--  -->
        <div class="bt mt5 col9 ptb10 fs13">
          <p>
            由 <a href="" class="blue">tom zhu</a> 提供
          </p>
          <p class="mt5">
            <i class="Icon-star"></i>
            <span>企业</span>
            <span class="ora">1%</span>
            <span>个人</span>
            <span class="ora">8%</span>
          </p>
        </div>
        <!--  -->
      </div>
      <!--  -->
      <ul class="mt10 p10 bgf fs13 spec">
        <li class="table mt5">
          <div class="table-cell col9 w70">产品类型</div>
          <div class="table-cell">
            <div class="flex-box flex-wrap">
              <label for="buy-addr1" class="m-label mr10">
                <input type="radio" checked="" id="buy-addr1" name="buy-addr">
                <i>普吉岛往返</i>
              </label>
              <label for="buy-addr5" class="m-label">
                <input type="radio" id="buy-addr5" name="buy-addr">
                <i>泰国旅游签证</i>
              </label>
              <label for="buy-addr6" class="m-label">
                <input type="radio" id="buy-addr6" name="buy-addr" disabled="">
                <i>泰国旅游签证</i>
              </label>
            </div>
          </div>
        </li>
        <li class="table mt10">
          <div class="table-cell vm col9 w70">数量</div>
          <div class="table-cell vm">
            <div class="bgf tc fs14 buy_num">
              <i class="fr plus"></i>
              <input name="" type="text" class="fr tc num" value="1" disabled>
              <i class="fr minus"></i>
            </div>
          </div>
        </li>
      </ul>

      <!-- comment start -->
      <ul class="mt10 bgf fs13 col0 last">
        <li class="plr10 flex-box flex-between bb arrowR">
          <div class="flex-box flex-col-baseline">
            <p class="col3 fs14 mr10">评价</p>
            <p class="red fs14">好评 <span class="fs16">96.6%</span></p>
          </div>
          <a href="" class="ptb10 col9 mr5">
            更多评价
          </a>
        </li>
        <li class="bb plr15 ptb10">
          <div class="flex-box flex-col-center flex-between">
            <div class="flex-box">
              <p class="fs14 mr10">Miyako 美妍</p>
              <div class="star_show" data-score="4"></div>
            </div>
            <span class="fs12 col9">2015.12.22</span>
          </div>
          <p class="mt5 fs13">
            不上月便路備小地內行年見她。不次後流巴讀正節春度 人國人以運走不外，保軍我人小花公出三房海稱。
          </p>
        </li>
        <li class="bb plr15 ptb10">
          <div class="flex-box flex-col-center flex-between">
            <div class="flex-box">
              <p class="fs14 mr10">Miyako 美妍</p>
              <div class="star_show" data-score="4"></div>
            </div>
            <span class="fs12 col9">2015.12.22</span>
          </div>
          <p class="mt5 fs13">
            不上月便路備小地內行年見她。不次後流巴讀正節春度 人國人以運走不外，保軍我人小花公出三房海稱。
          </p>
          <div class="pt5 clearfix">
            <div class="fl w60 ba mr5 mt5">
              <p class="item-pic">
                <img src="images/comment-img1.jpg" alt="" class="imgm">
              </p>
            </div>
            <div class="fl w60 ba mr5 mt5">
              <p class="item-pic">
                <img src="images/comment-img2.jpg" alt="" class="imgm">
              </p>
            </div>
            <div class="fl w60 ba mr5 mt5">
              <p class="item-pic">
                <img src="images/comment-img3.jpg" alt="" class="imgm">
              </p>
            </div>
            <div class="fl w60 ba mr5 mt5">
              <p class="item-pic">
                <img src="images/comment-img1.jpg" alt="" class="imgm">
              </p>
            </div>
            <div class="fl w60 ba mr5 mt5">
              <p class="item-pic">
                <img src="images/comment-img1.jpg" alt="" class="imgm">
              </p>
            </div>
            <div class="fl w60 ba mr5 mt5">
              <p class="item-pic">
                <img src="images/comment-img1.jpg" alt="" class="imgm">
              </p>
            </div>
          </div>
        </li>
      </ul>
      <!-- comment end -->
      <div class="mt10 bgf p10 col9 fs14 bb">
        商品描述
      </div>
      <article class="detail-desc p10 bgf fs13 col6">
        <p>费用包含</p>
        <p>1. 北京直飞普吉岛4-30天往返特价经济舱含税机票，托 运1件行李费用（每件不超过23KG ，行程可缺口即 曼谷进普吉出或普吉进曼谷出）</p>
        <p>1. 北京直飞普吉岛4-30天往返特价经济舱含税机票，托 运1件行李费用（每件不超过23KG ，行程可缺口即 曼谷进普吉出或普吉进曼谷出）</p>
        <img src="images/detail-img1.jpg" alt="" class="mt5 block">
      </article>
    </section>
  </section>
  <!-- addr-wrap -->
  <section id="spec-pop" class="spec-pop weui-popup-container popup-bottom">
    <div class="weui-popup-overlay"></div>
    <div class="weui-popup-modal bgf">
      <form action="">
      <!-- 图片高出白色底框的样式 -->
      <div class="p10 flex-box flex-between relative spec-hd">
        <div class="img-wrap ba m-col-20">
          <p class="item-pic"><img src="images/index-re1.jpg" alt="" class="block"></p>
        </div>
        <span>价格</span>
        <p class="red1 fs18"><span class="fs13">¥</span>2499</p>
      </div>
      <!-- <a href="" class="p10 bgf flex-box">
        <div class="m-col-25 flex-grow-0">
          <div class="item-pic">
            <img src="images/list-img.jpg" alt="">
          </div>
        </div>
        <div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch flex-grow-1 hidden">
          <p class="multi-line fs15 col0">
            普吉岛7天往返含税机票(赠送5天wifi)
          </p>
          <div class="flex-box flex-between col9">
            <div>
              <p>数量：1</p>
              <p>官方套装</p>
            </div>
            <span class="fs16 col0 flex-self-end"><em class="fs14">¥</em>7399</span>
          </div>
        </div>
      </a> -->
      <ul class="p10 bgf fs13 spec-wrap">
        <li class="table mt5">
          <div class="table-cell col9 w70">产品类型</div>
          <div class="table-cell">
            <div class="flex-box flex-wrap">
              <label for="spec1" class="m-label mr10">
                <input type="radio" checked="" id="spec1" name="spec">
                <i>普吉岛往返</i>
              </label>
              <label for="spec2" class="m-label">
                <input type="radio" id="spec2" name="spec">
                <i>泰国旅游签证</i>
              </label>
            </div>
          </div>
        </li>
        <li class="table mt10">
          <div class="table-cell vm col9 w70">数量</div>
          <div class="table-cell vm">
            <div class="bgf tc fs14 buy_num">
              <i class="fr plus"></i>
              <input name="" type="text" class="fr tc num" value="1" disabled>
              <i class="fr minus"></i>
            </div>
          </div>
        </li>
      </ul>
      <!--   <div><a href="" class="btn btn-primary">关　闭</a></div> -->
      </form>
    </div>
    </section>
  <% include _foot.html %>
    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      paginationType: 'fraction',
      paginationClickable: true
    });
    </script>
    <!-- detail-ban end -->
    <script>
    // 购物车物品数量
    $(document).on("click", ".buy_num .plus", function() {
      $this = $(this);
      v = parseFloat($this.next().val());
      $this.next().val(v + 1);
    });
    $(document).on("click", ".buy_num .minus", function() {
      $this = $(this);
      v = parseInt($this.prev().val());
      if (v > 1) {
        $this.prev().val(v - 1);
      }
    });
    </script>
    <!-- 购买规格 -->
    <script>
    // $(".show-pop,.show-pop").on("click", function() {
    //   $("#sepc-wrap").show();
    // });
    // $(".sepc-wrap .Icon-close1,.sepc-wrap .popup-overlay").on("click", function() {
    //   $("#sepc-wrap").hide();
    // });
    </script>
</body>

</html>
