<!doctype html>
<html>
<head>
	<title>4.2订单结算</title>
  <% include _head.html %>
</head>
<body>
<section class="wrap">

	<div class="bottom-fixed">
		<dl class="table bgf item-settle">
			<dd class="table-cell bt tr vm pr10">
				<p class="fs16 red">实付款：<b class="fs16">¥196.0</b></p>
			</dd>
			<dt class="table-cell vm">
				<a href="" class="tc colf">去结算</a>
			</dt>
		</dl>
	</div>

	<section class="main">

	<form action="">

		<div class="address-default">
			<a href="" class="fs14 col3 p10 block arrowR">
				<span><i class="mr5 ico-addr-user"></i>用户A</span>
				<span class="ml10"><i class="mr5 ico-addr-tel"></i>123****1234</span>
				<span class="ml10 fs12 colf address-tag">默认地址</span>
				<p class="pt10 fs13">上海黄浦区哈哈路123号4号楼111室</p>
			</a>
			<!-- <a href="" class="flex-box flex-center" style="padding:20px 0;">
				<em class="Ico-add1 mr10"></em>
				<span class="fs16 col0">添加收货地址</span>
			</a> -->
		</div>

		<ul class="mt10">
			<li>
				<a href="" class="p10 bgf flex-box">
					<div class="flex-grow-0 m-col-25">
						<p class="item-pic">
							<img src="images/list-img.jpg" alt="">
						</p>
					</div>
					<div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch flex-grow-1 hidden">
						<p class="multi-line fs15 col0">
							普吉岛7天往返含税机票(赠送5天wifi)
						</p>
						<div class="flex-box flex-between col3">
							<span class="fs18 red"><em class="fs14">￥</em>688</span>
							<span class="fs13">X1</span>
						</div>
					</div>
				</a>
			</li>
		</ul>

		<ul class="mt10 fs14 col3 last">
			<li class="flex-box p10 bb bgf">
				<div class="col6 w80 flex-grow-0">支付配送</div>
				<div class="">
					微信支付
				</div>
			</li>
			<li class="flex-box p10 bb bgf">
				<div class="col6 w80 flex-grow-0">积分抵扣</div>
				<div class="flex-box flex-between flex-grow-1">
					<span class="fs12 col3">共1000积分，可抵扣100元</span>
					<input class="weui_switch" type="checkbox">
				</div>
			</li>
		</ul>

		<ul class="mt10 bgf fs14 col3 last">
			<li class="table p10 invi_check">
				<div class="table-cell vm col6 w80">开具发票</div>
				<div class="table-cell vm">
					<input class="fr weui_switch" type="checkbox">
				</div>
			</li>
			<li class="table p10 bt invi_hide hide">
				<div class="table-cell vm col6 w80">发票类型</div>
				<div class="table-cell vm arrowR">
					<input name="" type="text" class="form_inp" placeholder="" value="电子发票">
				</div>
			</li>
			<li class="table p10 bt invi_hide hide">
				<div class="table-cell vm col6 w80">发票抬头</div>
				<div class="table-cell vm">
					<input name="" type="text" class="form_inp" placeholder="请输入发票抬头">
				</div>
			</li>
		</ul>

		<ul class="mt10 bgf fs13 col3 pt5 pb10">
			<li class="table plr10 ptb5">
				<div class="table-cell">商品金额</div>
				<div class="table-cell red tr">¥668.00</div>
			</li>
			<li class="table plr10 ptb5">
				<div class="table-cell">优惠</div>
				<div class="table-cell red tr">- ¥100.00</div>
			</li>
		</ul>

		<div class="mt10 bgf p10">
			<textarea name="" cols="5" rows="5" class="form_text" placeholder="选填：给我们留言 (45字以内)" id="show-alert"></textarea>
		</div>



	</form>


	</section>



</section>

<% include _foot.html %>

<script>
$(function(){
	// 发票
	$(".invi_check input[type='checkbox']").on("click",function(){
		var checked = $(this).is(":checked");
		if ( checked == true ){
			$(".invi_hide").removeClass("hide");
		}else{
			$(".invi_hide").addClass("hide");
		}
	});

});
</script>
</body>
</html>