<!doctype html>
<html>
<head>
	<title>5.2个人设置</title>
<% include _head.html %>
</head>
<body>

<section class="wrap">

	<section class="main">

		<form action="">

			<section class="flex-box flex-col flex-col-stretch flex-between" style="min-height:100vh;">

			<ul class="fs13 col3 last">
				<li class="m-cell flex-col-center bgf bb arrowR">
					<div class="m-cell__hd flex-box">头　　像</div>
					<a href="" class="m-cell__bd">
						<div class="m-col-33 br50 hidden">
							<p class="item-pic">
								<img src="images/default-none-head.png" alt="">
							</p>
						</div>
					</a>
				</li>
				<li class="m-cell bgf bb">
					<div class="m-cell__hd flex-box">用户昵称</div>
					<div class="m-cell__bd">
						<input name="" type="text" class="" placeholder="请填写">
					</div>
				</li>
				<li class="m-cell bgf bb arrow-icon">
					<div class="m-cell__hd flex-box"></i>性　　别</div>
					<div class="m-cell__bd">
						<!-- <input name="" type="text" class="" placeholder="请选择"> -->
						<select name="" id="" class="form_sel">
							<option value="">男</option>
							<option value="">女</option>
						</select>
					</div>
				</li>
				<li class="m-cell bgf bb">
					<div class="m-cell__hd flex-box">联系方式</div>
					<div class="m-cell__bd">
						<input name="" type="tel" class="" placeholder="请填写">
					</div>
				</li>
				<li class="m-cell bgf">
					<div class="m-cell__hd flex-box">详细地址</div>
					<div class="m-cell__bd">
						<textarea name="" id="" cols="30" rows="5" placeholder="选填，&#xA;100字以内"></textarea>
					</div>
				</li>
			</ul>
			<!-- 个人资料填写 end -->

			<div class="mt15">
				<a href="" class="btn btn-primary">
					确认修改
				</a>
			</div>

			</section>

		</form>
	</section>

</section>


<% include _foot.html %>
<script>
	$("body").on("touchmove",function(){
		$("input,textarea").blur();
	})
</script>
</body>
</html>
