<!doctype html>
<html>
<head>
	<title>5.3.1收货地址</title>
<% include _head.html %>
</head>
<body>
<section class="wrap">

	<div class="bottom-fixed">
		<a href="" class="btn btn-primary"><i class="Ico-add"></i>新建收货地址</a>
	</div>
	<!-- 新增收货地址 end -->
	<section class="main">

		<div class="address-default">
			<a href="" class="fs14 col3 p10 block arrowR">
				<span><i class="mr5 ico-addr-user"></i>用户A</span>
				<span class="ml10"><i class="mr5 ico-addr-tel"></i>123****1234</span>
				<span class="ml10 fs12 colf br3 address-tag">默认地址</span>
				<p class="pt10 fs13">上海黄浦区哈哈路123号4号楼111室</p>
			</a>
			<!-- <a href="" class="flex-box flex-center" style="padding:20px 0;">
				<em class="Ico-add1 mr10"></em>
				<span class="fs16 col0">添加收货地址</span>
			</a> -->
		<div class="flex-box flex-between p10 bt fs12">
			<div></div>
			<span class="">
				<a href="#" class="col6"><i class="ico-addr-edit"></i>编辑</a>
				<a href="#" class="ml10 col6"><i class="ico-addr-del"></i>删除</a>
			</span>
		</div>
		</div>
	<!-- 默认地址 end -->

	<ul class="">
		<li class="mt10 bgf address-info">
			<div class="fs14 col3 p10">
				<span><i class="mr5 ico-addr-user"></i>用户A</span>
				<span class="ml10"><i class="mr5 ico-addr-tel"></i>123****1234</span>
				<p class="pt10 fs13">上海黄浦区哈哈路123号4号楼111室</p>
			</div>
			<div class="flex-box flex-between p10 bt fs12">
				<a href="#" class="br5 btn-mini btn-mini_outlined">设为默认地址</a>
				<span class="">
					<a href="#" class="col6"><i class="mr5 ico-addr-edit"></i>编辑</a>
					<a href="#" class="ml10 col6"><i class="mr5 ico-addr-del"></i>删除</a>
				</span>
			</div>
		</li>
		<li class="mt10 bgf address-info">
			<div class="fs14 col3 p10">
				<span><i class="mr5 ico-addr-user"></i>用户A</span>
				<span class="ml10"><i class="mr5 ico-addr-tel"></i>123****1234</span>
				<p class="pt10 fs13">上海黄浦区哈哈路123号4号楼111室</p>
			</div>
			<div class="flex-box flex-between p10 bt fs12">
		    <div class="weui_cells_checkbox">
		      <label class="weui_check_label table-cell" for="set-default">
		        <input type="checkbox" class="weui_check" name="set-default" id="set-default">
		        <i class="weui_icon_checked">设为默认地址</i>
		      </label>
		    </div>
				<span class="">
					<a href="#" class="col6"><i class="mr5 ico-addr-edit"></i>编辑</a>
					<a href="#" class="ml10 col6"><i class="mr5 ico-addr-del"></i>删除</a>
				</span>
			</div>
		</li>
	</ul>
	<!-- 地址列表 end -->

	<div class="tc nothing">
		<i><img src="images/default-none-site.png" alt="" class="imgm"></i>
		<span class="mt10 fs14 col9">您还没有地址<br>赶快去添加吧！</span>
	</div>
	<!-- 暂无收货地址 end -->

	</section>

</section>

<% include _foot.html %>

</body>
</html>