<!doctype html>
<html>
	<head>
	<title>5.5.2订单详情</title>
	<% include _head.html %>
	</head>
<body>

	<section class="wrap">
		<!--  -->
		<div class="bottom-fixed">
			<div class="flex-box flex-end fs13 p10 bg-body">
				<a href="" class="col3 mr10">
					删除订单
				</a>
				<div>
					<a href="" class="mr5 br3 btn-mini btn-mini_black bgf">申请退款</a>
					<a href="" class="br3 bgf btn-mini btn-mini_outlined">再次购买</a>
				</div>
			</div>
		</div>

		<section class="main">

			<div class="bgf">
				<div class="pl10">
					<a href="" class="ptb10 bb flex-box flex-between fs13 col0 arrowR">
						<span>订单号：19865474994</span>
						<span class="red mr5">处理中</span>
					</a>
				</div>
				<!--  -->
				<div class="p10 fs13">
					<div class="flex-box flex-between">
						<div class="col0 flex-box">
							<span class="mr10 w60 single-line">用户A</span>
							<span>18512349876</span>
						</div>
						<a class="btn-mini br3">
							查看物流
						</a>
					</div>
					<p class="col6 mt5">上海黄浦区哈哈路123号4号楼111室</p>
				</div>
			</div>

			<a href="" class="mt10 p10 bgf flex-box">
				<div class="m-col-25 flex-grow-0">
					<div class="item-pic">
						<img src="images/list-img.jpg" alt="">
					</div>
				</div>
				<div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch flex-grow-1">
					<p class="multi-line fs15 col0">
						普吉岛7天往返含税机票(赠送5天wifi)
					</p>
					<div class="flex-box flex-between col9">
						<div>
							<p>数量：1</p>
							<p>官方套装</p>
						</div>
						<span class="fs16 col0 flex-self-end"><em class="fs14">¥</em>7399</span>
					</div>
				</div>
			</a>

			<ul class="mt10 pl10 last bgf fs13 col3">
				<li class="ptb10 pr10 bb flex-box flex-between">
					<span>支付方式</span>
					<span class="col0">微信支付</span>
				</li>
				<li class="ptb10 pr10 bb flex-box flex-between">
					<span>配送信息</span>
					<span class="col0">未配送</span>
				</li>
			</ul>
			<!--  -->
			<div class="mt10 pl10 bgf ptb10 fs13 col_7d">
				<div class="pr10 pb10 bb">
					<p class="flex-box flex-between fs14">
						<span class="col3">商品总额</span>
						<span class="red">¥668.00</span>
					</p>
					<p class="mt5 flex-box flex-between">
						<span>+优惠</span>
						<span class="red">¥100.00</span>
					</p>
					<p class="mt5 flex-box flex-between">
						<span>- 运费</span>
						<span class="red">¥20.00</span>
					</p>
				</div>
				<div class="pt10 pr10 tr">
					<p class="fs15 col0">实付款： <span class="red bold fs16">¥ 668.00</span></p>
					<p class="">下单时间：2017.01.12 14:39:09</p>
				</div>
			</div>

		</section>
	</section>



<% include _foot.html %>
</body>
</html>