<!doctype html>
<html>
	<head>
	<title>5.5.4申请退款</title>
	<% include _head.html %>
	</head>
<body>

	<section class="wrap">

		<!--  -->
		<div class="bottom-fixed">
			<a href="" class="btn btn-primary">提交</a>
		</div>

		<section class="main">

			<ul class="">
				<li class="">
					<a href="" class="p10 bgf flex-box">
						<div class="m-col-25">
							<div class="item-pic flex-grow-0">
								<img src="images/list-img.jpg" alt="">
							</div>
						</div>
						<div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch flex-grow-1">
							<p class="multi-line fs15 col0">
								普吉岛7天往返含税机票(赠送5天wifi)
							</p>
							<div class="flex-box flex-between col9">
								<div>
									<p>数量：1</p>
									<p>官方套装</p>
								</div>
								<span class="fs16 col0 flex-self-end"><em class="fs14">¥</em>7399</span>
							</div>
						</div>
					</a>
				</li>
			</ul>

			<div class="mt10 bgf p10">
				<p class="w75">服务类型：</p>
				<div class="mt10">
					<label for="reim1" class="m-label m-label--icon m-col-30">
				    <input type="radio" checked="" id="reim1" name="reim" checked>
				    <i class="">退款</i>
					</label>
				</div>
			</div>
			<!--  -->
			<div class="mt5 bgf p10 fs13 col_49">
				<p class="flex-box flex-between">
					<span>提交数量</span>
					<span>您最多可提交1个</span>
				</p>
				<div class="mt10">
					<div class="bgf tc fs14 buy_num">
						<i class="fr plus"></i>
						<input name="" type="text" class="fr tc num" value="1">
						<i class="fr minus"></i>
					</div>
				</div>
			</div>
			<!--  -->
			<div class="p10 bgf mt5 col3 fs13">
				<div class="flex-box flex-col-start">
					<span>问题描述</span>
					<div class="pl10">
						<textarea name="" class="form_text" id="" cols="30" rows="5" placeholder="200字以内，可上传最多9张图片" style="padding: 2px"></textarea>
					</div>
				</div>
				<!--  -->
				<ul class="clearfix multi-upload fs13 bgf">
					<li class="pt10">
						<div class="col6">
							<span class="in-block w90 mr5">图片上传</span>
						</div>
					</li>
					<li class="mt10 mr10 ba upload-img" style="background-image:url(./images/default-upload-img.png);"><a href="javascript:;" class="br50 upload-close"></a></li>
					<li class="mt10 mr10 ba upload-img" style="background-image:url(./images/default-upload-img.png);"><a href="javascript:;" class="br50 upload-close"></a></li>
					<li class="mt10 mr10 ba upload-img" style="background-image:url(./images/default-upload-img.png);"><a href="javascript:;" class="br50 upload-close"></a></li>
					<li class="mt10 ba upload-file"></li>
				</ul>
			</div>

		</section>
	</section>


<!-- city-pick -->

<% include _foot.html %>
</body>
</html>