<!doctype html>
<html>
	<head>
	<title>5.5.5退款明细</title>
	<% include _head.html %>
	</head>
<body>

	<section class="wrap">
		<section class="main pb20">

			<div class="p15 bgf flex-box flex-col-start">
				<img src="images/default-success1.png" alt="" class="block w25">
				<div class="pl15 fs15 col6">
					<p class="bold">提交成功！</p>
					<p class="mt10 fs13">服务人员将在24小时内进行审核，审核结果会以短信形式告知您。</p>
				</div>
			</div>

			<div class="bgf mt10">
				<div class="plr10 fs14 col6 pt10">
					售后服务单号：00013917
				</div>
				<ul class="">
					<li class="bb">
						<a href="" class="p10 bgf flex-box">
							<div class="flex-grow-0 m-col-25">
								<div class="item-pic">
									<img src="images/list-img.jpg" alt="">
								</div>
							</div>
							<div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch flex-grow-1 hidden">
								<p class="multi-line fs15 col0">
									普吉岛7天往返含税机票(赠送5天wifi)
								</p>
								<div class="flex-box flex-between col9">
									<div>
										<p>数量：1</p>
										<p>官方套装</p>
									</div>
									<span class="fs16 col0 flex-self-end"><em class="fs14">¥</em>7399</span>
								</div>
							</div>
						</a>
					</li>
				</ul>
				<div class="flex-box flex-col-baseline p10 view_logistics sh-progress">
					<div class="flex-grow-0">审核环节</div>
					<ul class="bgf fs14 col9 item-bd">
						<li class="pb10">
							您的售后要求正在审核
						</li>
						<li class="pb10">
							处理信息：您的申请已经提交，待售后审核中
						</li>
					</ul>
				</div>
			</div>

			<ul class="mt10 bgf p10 fs13 col0">
				<li class="flex-box flex-col-baseline mb5">
					<div class="flex-grow-0 w80 col9">
						处理方式
					</div>
					<div>
						客户期望处理方式为“退款”
					</div>
				</li>
				<li class="flex-box flex-col-baseline mb5">
					<div class="flex-grow-0 w80 col9">
						问题描述
					</div>
					<div>
						近年来扁平化设计相当流行（或者可以说已经流行一段时间），尤其在网络服务和手机应用程序上都可以看到它的踪迹。
					</div>
				</li>
				<li class="flex-box flex-col-baseline mb5">
					<div class="flex-grow-0 w80 col9">
						联系人
					</div>
					<div>
						用户A
					</div>
				</li>
				<li class="flex-box flex-col-baseline mb5">
					<div class="flex-grow-0 w80 col9">
						联系电话
					</div>
					<div>
						18512349876
					</div>
				</li>
			</ul>

		</section>
	</section>


<!-- city-pick -->




<% include _foot.html %>
</body>
</html>