<!doctype html>
<html>
<head>
	<title>5.5.1订单中心</title>
<% include _head.html %>
</head>
<body>
<section class="wrap">

	<div class="top-fixed">
		<div class="table bgf bb tc fs14 order_nav">
			<a href="" class="table-cell"><span class="hint-num">待付款<em>2</em></span></a>
			<a href="" class="table-cell active"><span class="hint-num">待发货<em>2</em></span></a>
			<a href="" class="table-cell"><span>待收货</span></a>
			<a href="" class="table-cell"><span>已完成</span></a>
			<a href="" class="table-cell"><span>退　货</span></a>
		</div>
	</div>


	<section class="main">

		<ul class="">
			<li class="mb10 plr10 btb bgf">
				<div class="flex-box flex-between ptb10 bb fs12 col9 item-hd">
					<p>#201607191613241526</p>
					<em class="red">等待买家付款</em>
				</div>
				<a href="" class="ptb10 bgf flex-box">
					<div class="m-col-25 flex-grow-0">
						<div class="item-pic">
							<img src="images/list-img.jpg" alt="">
						</div>
					</div>
					<div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch flex-grow-1 hidden">
						<p class="multi-line fs15 col0">
							普吉岛7天往返含税机票(赠送5天wifi)
						</p>
						<div class="flex-box flex-between col6">
							<span class="fs13">X1</span>
							<span class="fs16">￥688</span>
						</div>
					</div>
				</a>
				<p class="mt5 fs13 tr col0">共1件商品 合计：¥470.0<span class="fs12">（含运费¥0.00）</span></p>
				<div class="mt10 bt ptb10 fs12 flex-box flex-between">
					<span class="single-line fs13 col6">2017.02.16 17:27:54完成</span>
					<div class="flex-grow-0">
						<a href="" class="mr5 btn-mini">取消订单</a>
						<a href="" class="btn-mini btn-mini_solid">去付款</a>
					</div>
				</div>
			</li>
			<li class="mb10 plr10 btb bgf">
				<div class="flex-box flex-between ptb10 bb fs12 col9 item-hd">
					<p>#201607191613241526</p>
					<em class="red">等待买家付款</em>
				</div>

				<a href="" class="ptb10 bgf flex-box">
					<div class="m-col-25 flex-grow-0">
						<div class="item-pic">
							<img src="images/list-img.jpg" alt="">
						</div>
					</div>
					<div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch flex-grow-1 hidden">
						<p class="multi-line fs15 col0">
							普吉岛7天往返含税机票(赠送5天wifi)
						</p>
						<div class="flex-box flex-between col6">
							<span class="fs13">X1</span>
							<span class="fs16">￥688</span>
						</div>
					</div>
				</a>
				<a href="" class="ptb10 bgf flex-box">
					<div class="m-col-25 flex-grow-0">
						<div class="item-pic">
							<img src="images/list-img.jpg" alt="">
						</div>
					</div>
					<div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch flex-grow-1 hidden">
						<p class="multi-line fs15 col0">
							普吉岛7天往返含税机票(赠送5天wifi)
						</p>
						<div class="flex-box flex-between col6">
							<span class="fs13">X1</span>
							<span class="fs16">￥688</span>
						</div>
					</div>
				</a>
				<p class="mt5 fs13 tr col0">共1件商品 合计：¥470.0<span class="fs12">（含运费¥0.00）</span></p>
				<div class="mt10 bt ptb10 fs12 flex-box flex-between">
					<span class="single-line fs13 col6">2017.02.16 17:27:54完成</span>
					<div class="flex-grow-0">
						<a href="" class="mr5 btn-mini">取消订单</a>
						<a href="" class="btn-mini btn-mini_solid">去付款</a>
					</div>
				</div>
			</li>
		</ul>
		<!-- 待付款 end -->

		<ul class="">
			<li class="mb10 plr10 btb bgf">
				<div class="flex-box flex-between ptb10 bb fs12 col9 item-hd">
					<p>#201607191613241526</p>
					<em class="red">等待卖家发货</em>
				</div>

				<a href="" class="ptb10 bgf flex-box">
					<div class="m-col-25 flex-grow-0">
						<div class="item-pic">
							<img src="images/list-img.jpg" alt="">
						</div>
					</div>
					<div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch flex-grow-1 hidden">
						<p class="multi-line fs15 col0">
							普吉岛7天往返含税机票(赠送5天wifi)
						</p>
						<div class="flex-box flex-between col6">
							<span class="fs13">X1</span>
							<span class="fs16">￥688</span>
						</div>
					</div>
				</a>
				<p class="mt5 fs13 tr col0">共1件商品 合计：¥470.0<span class="fs12">（含运费¥0.00）</span></p>
				<div class="mt10 bt ptb10 fs12 flex-box flex-between">
					<span class="single-line fs13 col6">2017.02.16 17:27:54完成</span>
					<div class="flex-grow-0">
						<a href="" class="btn-mini">查看物流</a>
					</div>
				</div>
			</li>
			<li class="mb10 plr10 btb bgf">
				<div class="flex-box flex-between ptb10 bb fs12 col9 item-hd">
					<p>#201607191613241526</p>
					<em class="red">等待卖家发货</em>
				</div>

				<a href="" class="ptb10 bgf flex-box">
					<div class="m-col-25 flex-grow-0">
						<div class="item-pic">
							<img src="images/list-img.jpg" alt="">
						</div>
					</div>
					<div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch flex-grow-1 hidden">
						<p class="multi-line fs15 col0">
							普吉岛7天往返含税机票(赠送5天wifi)
						</p>
						<div class="flex-box flex-between col6">
							<span class="fs13">X1</span>
							<span class="fs16">￥688</span>
						</div>
					</div>
				</a>
				<p class="mt5 fs13 tr col0">共1件商品 合计：¥470.0<span class="fs12">（含运费¥0.00）</span></p>
				<div class="mt10 bt ptb10 fs12 flex-box flex-between">
					<span class="single-line fs13 col6">2017.02.16 17:27:54完成</span>
					<div class="flex-grow-0">
						<a href="" class="btn-mini">查看物流</a>
					</div>
				</div>
			</li>
		</ul>
		<!-- 代发货 end -->

		<ul class="">
			<li class="mb10 plr10 btb bgf">
				<div class="flex-box flex-between ptb10 bb fs12 col9 item-hd">
					<p>#201607191613241526</p>
					<em class="red">等待买家收货</em>
				</div>

				<a href="" class="ptb10 bgf flex-box">
					<div class="m-col-25 flex-grow-0">
						<div class="item-pic">
							<img src="images/list-img.jpg" alt="">
						</div>
					</div>
					<div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch flex-grow-1 hidden">
						<p class="multi-line fs15 col0">
							普吉岛7天往返含税机票(赠送5天wifi)
						</p>
						<div class="flex-box flex-between col6">
							<span class="fs13">X1</span>
							<span class="fs16">￥688</span>
						</div>
					</div>
				</a>
				<p class="mt5 fs13 tr col0">共1件商品 合计：¥470.0<span class="fs12">（含运费¥0.00）</span></p>
				<div class="mt10 bt ptb10 fs12 flex-box flex-between">
					<span class="single-line fs13 col6">2017.02.16</span>
					<div class="flex-grow-0">
						<a href="" class="mr5 btn-mini">我要退货</a>
						<a href="" class="mr5 btn-mini">查看物流</a>
						<a href="" class="btn-mini btn-mini_solid">确认收货</a>
					</div>
				</div>
			</li>
		</ul>
		<!-- 已完成 end -->

		<ul class="">
			<li class="mb10 plr10 btb bgf">
				<div class="flex-box flex-between ptb10 bb fs12 col9 item-hd">
					<p>#201607191613241526</p>
					<em class="red">订单成功</em>
				</div>

				<a href="" class="ptb10 bgf flex-box">
					<div class="m-col-25 flex-grow-0">
						<div class="item-pic">
							<img src="images/list-img.jpg" alt="">
						</div>
					</div>
					<div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch flex-grow-1 hidden">
						<p class="multi-line fs15 col0">
							普吉岛7天往返含税机票(赠送5天wifi)
						</p>
						<div class="flex-box flex-between col6">
							<span class="fs13">X1</span>
							<span class="fs16">￥688</span>
						</div>
					</div>
				</a>
				<p class="mt5 fs13 tr col0">共1件商品 合计：¥470.0<span class="fs12">（含运费¥0.00）</span></p>
				<div class="mt10 bt ptb10 fs12 flex-box flex-between">
					<span class="single-line fs13 col6">2017.02.16</span>
					<div class="flex-grow-0">
						<a href="" class="mr5 btn-mini">我要退货</a>
						<a href="" class="btn-mini btn-mini_solid">再次购买</a>
					</div>
				</div>
			</li>
		</ul>
		<!-- 订单成功 end -->

		<ul class="">
			<li class="mb10 plr10 btb bgf">
				<div class="flex-box flex-between ptb10 bb fs12 col9 item-hd">
					<p>#201607191613241526</p>
					<em class="red">订单成功</em>
				</div>

				<a href="" class="ptb10 bgf flex-box">
					<div class="m-col-25 flex-grow-0">
						<div class="item-pic">
							<img src="images/list-img.jpg" alt="">
						</div>
					</div>
					<div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch flex-grow-1 hidden">
						<p class="multi-line fs15 col0">
							普吉岛7天往返含税机票(赠送5天wifi)
						</p>
						<div class="flex-box flex-between col6">
							<span class="fs13">X1</span>
							<span class="fs16">￥688</span>
						</div>
					</div>
				</a>
				<p class="mt5 fs13 tr col0">共1件商品 合计：¥470.0<span class="fs12">（含运费¥0.00）</span></p>
				<div class="mt10 bt ptb10 fs12 flex-box flex-between">
					<span class="single-line fs13 col6">2017.02.16 17:27:54完成</span>
					<div class="flex-grow-0">
						<a href="" class="mr5 btn-mini">退货明细</a>
						<a href="" class="btn-mini btn-mini_solid">再次购买</a>
					</div>
				</div>
			</li>
		</ul>
		<!-- 订单成功 end -->

    <div class="p10 col9 fs13 tc nomore" id="full" style="display: block">
      <span class="col9">—— <i></i> ——</span>
      <p class="fs12 col9">亲，没有更多了哦~</p>
    </div>


		<div class="tc nothing">
			<i><img src="images/default-none-order.png" alt="" class="imgm"></i>
			<span class="mt10 fs14 col9">您还没有订单<br>赶快去购物吧！</span>
		</div>
		<!-- 已完成 end -->
	</section>


</section>

<% include _foot.html %>
</body>
</html>