<!doctype html>
<html>
<head>
	<title>5.6.3福利详情</title>
<% include _head.html %>
</head>
<body>
<section class="wrap">

	<section class="main">

		<div class="pl10 bgf fs13 col0">
			<div class="ptb10 pr10 bb flex-box flex-between">
				<span class="colb">2017.02.17申请</span>
				<span class="red">投票中</span>
			</div>
			<ul class="ptb10 pr10">
				<li class="flex-box flex-col-start mb5">
					<span class="w70 colb flex-grow-0">
						申请事由:
					</span>
					<p>当然我们需要看着页面来讲解，先来看一下改版前后的界面样式</p>
				</li>
				<li class="flex-box flex-col-start mb5">
					<span class="w70 colb flex-grow-0">
					申请金额:
					</span>
					<p>3000元</p>
				</li>
				<li class="flex-box flex-col-start flex-between mb5">
					<div class="flex-box">
						<span class="w70 colb flex-grow-0">
						投正票数:
						</span>
						<p>3000元</p>
					</div>
					<a href="" class="red">查看投票理由</a>
				</li>
				<li class="flex-box flex-col-start mb5">
					<span class="w70 colb flex-grow-0">
					投负票数:
					</span>
					<p>7票</p>
				</li>
				<li class="flex-box flex-col-start mb5">
					<span class="w70 colb flex-grow-0">
					上传图片:
					</span>
					<div class="flex-box flex-wrap d-item-pic-wrap">
						<div class="item-pic" style="width:65px;height:65px;">
							<img src="images/list-img.jpg" alt="" class="">
						</div>
					</div>
				</li>
			</ul>
		</div>

	</section>


</section>

<a href="" class="btn-mini btn-mini_outlined bgf br3" style="position: absolute;bottom:10px;right: 10px;">分享拉票</a>

<% include _foot.html %>
</body>
</html>