<!doctype html>
<html>
	<head>
	<title>5.6.4投票理由</title>
	<% include _head.html %>
	</head>
<body>

	<section class="wrap">

		<section class="main">

			<ul class="last vote-list">
				<li class="bb">
					<a href="" class="p10 bgf flex-box">
						<div class="flex-grow-0 m-col-20 br50">
							<div class="item-pic">
								<img src="images/list-img.jpg" alt="">
							</div>
						</div>
						<div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch flex-grow-1">
							<p class="flex-box flex-between fs14 col0">
								<span>用户A</span>
								<span class="red">正票</span>
							</p>
							<p class="multi-line fs15 col9">
								普吉岛7天往返含税机票(赠送5天wifi)
							</p>
						</div>
					</a>
				</li>
				<li class="bb">
					<a href="" class="p10 bgf flex-box">
						<div class="flex-grow-0 m-col-20 br50">
							<div class="item-pic">
								<img src="images/list-img.jpg" alt="">
							</div>
						</div>
						<div class="pl10 flex-self-stretch flex-box flex-col flex-between flex-col-stretch flex-grow-1">
							<p class="flex-box flex-between fs14 col0">
								<span>用户A</span>
								<span class="red">正票</span>
							</p>
							<p class="multi-line fs15 col9">
								普吉岛7天往
							</p>
						</div>
					</a>
				</li>
			</ul>


		</section>
	</section>



<% include _foot.html %>
</body>
</html>