<!doctype html>
<html>
<head>
	<title>5.8.2申请提现/充值</title>
	<% include _head.html %>
</head>
<body>
<section class="wrap">

	<div class="bottom-fixed">
		<a href="" class="btn btn-primary">保存并使用</a>
	</div>
	<section class="main">

		<form action="">

			<ul class="fs14 col3 item-form">
				<li class="p10 red">*提现到微信钱包</li>
				<li class="table box-b plr10 bgf">
					<div class="table-cell vm col6 w80">提现金额</div>
					<div class="table-cell vm ptb10">
						<input name="" type="text" class="form_inp" placeholder="本次最多可提现¥120.0">
					</div>
				</li>
			</ul>

			<div class="mt10 p10">
				<div class="fs14 col6">财富变现规则：</div>
				<article class="mt5 fs12 col9">
					<p>1. 设置提现200元起</p>
					<p>2. 为了您的资金安全，提现资金24小时内审核到账</p>
				</article>
			</div>
		</form>
	</section>

</section>

<% include _foot.html %>
</body>
</html>