<!doctype html>
<html>
<head>
	<title>5.8.1我的积分</title>
	<% include _head.html %>
</head>
<body>
<section class="wrap">

	<section class="main">

		<div class="p10 flex-box flex-between member-head" style="padding: 20px 10px;">
			<div class="colf tc fs14 flex-box info">
				<p class="mr5">我的积分</p>
				<p class="fs40 name">2400</p>
			</div>
			<a href="" class="block d-btn fs13 flex-grow-0">积分充值</a>
		</div>

		<ul class="fs13 last">
			<li class="flex-box flex-between bgf bb">
				<div class="p10">
					<p class="fs14 col0">购买商品赠送积分购买商品赠送积分购买商品赠送积分购买商品赠送积分</p>
					<p class="mt5 col9">2017.02.17 13:04:28</p>
				</div>
				<div class="p10 flex-grow-0">
					<span class="fs20 red">＋1000</span>
				</div>
			</li>
			<li class="flex-box flex-between bgf bb">
				<div class="p10">
					<p class="fs14 col0">购买商品抵扣积分</p>
					<p class="mt5 col9">2017.02.17 13:04:28</p>
				</div>
				<div class="p10 flex-grow-0">
					<span class="fs20 blue1">－1000</span>
				</div>
			</li>
			<li class="flex-box flex-between bgf bb">
				<div class="p10">
					<p class="fs14 col0">购买 佳能相机70d</p>
					<p class="mt5 col9">2017.02.17 13:04:28</p>
				</div>
				<div class="p10 flex-grow-0">
					<span class="fs20 red">＋1000</span>
				</div>
			</li>
		</ul>





	</section>


</section>

<% include _foot.html %>

</body>
</html>