<!doctype html>
<html>
<head>
	<title>5.9联系客服</title>
	<% include _head.html %>
</head>
<body>
<section class="wrap">


	<div class="contact_con fs13">
		<div class="bgf p10 bb col3 item_tit">
			<i class="ct_1"></i>官方客服热线
		</div>
		<dl class="table ptb10 bb">
			<dt class="table-cell vm w70 plr10">
				<div class="br50 item-pic">
					<img src="images/default-avatar.jpg" alt="" class="imgm">
				</div>
			</dt>
			<dd class="table-cell vm">
				<p class="col3 single-line">客服阿徐</p>
				<p class="col6 single-line">18698726123</p>
			</dd>
			<dt class="table-cell vm plr10 item-rt">
				<a href="" class="tc col9 call">一键拨号</a>
			</dt>
		</dl>
		<dl class="table ptb10">
			<dt class="table-cell vm w70 plr10">
				<div class="br50 item-pic">
					<img src="images/default-avatar.jpg" alt="" class="imgm">
				</div>
			</dt>
			<dd class="table-cell vm">
				<p class="col3 single-line">客服阿徐</p>
				<p class="col6 single-line">18698726123</p>
			</dd>
			<dt class="table-cell vm plr10 item-rt">
				<a href="" class="tc col9 call">一键拨号</a>
			</dt>
		</dl>
	</div>
	<!-- 电话客服 end -->

	<div class="contact_con">
		<div class="bgf p10 bb col3 item_tit">
			<i class="ct_2"></i>QQ客服
		</div>
		<dl class="table ptb10 bb">
			<dt class="table-cell vm w70 plr10">
				<div class="br50 item-pic">
					<img src="images/default-avatar.jpg" alt="" class="imgm">
				</div>
			</dt>
			<dd class="table-cell vm">
				<p class="col3 single-line">客服阿徐</p>
				<p class="col6 single-line">18698726123</p>
			</dd>
		</dl>
		<dl class="table ptb10">
			<dt class="table-cell vm w70 plr10">
				<div class="br50 item-pic">
					<img src="images/default-avatar.jpg" alt="" class="imgm">
				</div>
			</dt>
			<dd class="table-cell vm">
				<p class="col3 single-line">客服阿徐</p>
				<p class="col6 single-line">18698726123</p>
			</dd>
		</dl>
	</div>
	<!-- QQ客服 end -->

<!-- 	<div class="contact_con">
	<div class="bgf p10 bb col3 item_tit">
		<i class="ct_3"></i>客服二维码
	</div>
	<dl class="table ptb10 bb">
		<dt class="table-cell vm w70 plr10">
			<div class="br50 item-pic">
				<img src="images/default-avatar.jpg" alt="" class="imgm">
			</div>
		</dt>
		<dd class="table-cell vm">
			<p class="col3 single-line">客服阿徐</p>
			<p class="col6 single-line">18698726123</p>
		</dd>
		<dt class="table-cell vm plr10 item-rt">
			<a href="javascript:;" class="tc col9 code">扫码关注</a>
		</dt>
	</dl>
	<dl class="table ptb10 bb">
		<dt class="table-cell vm w70 plr10">
			<div class="br50 item-pic">
				<img src="images/default-avatar.jpg" alt="" class="imgm">
			</div>
		</dt>
		<dd class="table-cell vm">
			<p class="col3 single-line">客服阿徐</p>
			<p class="col6 single-line">18698726123</p>
		</dd>
		<dt class="table-cell vm plr10 item-rt">
			<a href="javascript:;" class="tc col9 code">扫码关注</a>
		</dt>
	</dl>
</div> -->
	<!-- 微信客服 end -->

	<div class="code_fixed">
		<div class="item-bg"></div>
		<div class="item-con">
			<span>
				<img src="images/default-code.jpg" alt="" class="imgm">
			</span>
			<p class="mt10 tc fs15 colf">长按图片保存二维码<br>添加客服微信<br>即可享受客服专享服务</p>
		</div>
	</div>

</section>


<% include _foot.html %>
	<script>
	$(function() {
		// 联系客服 - 扫码关注
		$(".contact_con .code").on("click",function(){
			$(".code_fixed").show();
		});
		$(".code_fixed .item-bg").on("click",function(){
			$(".code_fixed").hide();
		});
	});
	</script>

</body>
</html>