<!doctype html>
<html>
<head>
	<title>6.0在线咨询</title>
	<% include _head.html %>
</head>
<body>
<section class="wrap">

	<section class="main dialog-main">

		<div class="plr10 dialog_box">
				<div class="fs12 dialog-timestamp">2016-12-26 10:30:23</div>
				<dl class="table mt10">
					<dt class="table-cell vt">
						<div class="item-pic">
							<img src="images/default-avatar.jpg" alt="" class="imgm">
						</div>
					</dt>
					<dd class="table-cell vt item-rt">
						<div class="fs12 col9 mb5">罗美玲</div>
						<div class="p10 fs13 colf item-text">您好，请问您有什么问题要咨询？</div>
					</dd>
				</dl>

				<div class="fs12 dialog-timestamp">2016-12-26 10:30:23</div>
				<dl class="table mt10">
					<dd class="table-cell vt item-lt">
						<div class="fs12 col9 mb5">销售员</div>
						<div class="p10 fs13 col3 item-text">你好，咨询红酒方面问题。</div>
					</dd>
					<dt class="table-cell vt">
						<div class="item-pic"><img src="images/default-upload-img.png" alt="" class="imgm"></div>
					</dt>
				</dl>

				<div class="fs12 dialog-timestamp">2016-12-26 10:30:23</div>
				<dl class="table mt10">
					<dt class="table-cell vt">
						<div class="item-pic"><img src="images/default-avatar.jpg" alt="" class="imgm"></div>
					</dt>
					<dd class="table-cell vt item-rt">
						<div class="fs12 col9 mb5">罗美玲</div>
						<div class="p10 fs13 colf item-text">您好，请问您有什么问题要咨询？</div>
					</dd>
				</dl>

				<div class="fs12 dialog-timestamp">2016-12-26 10:30:23</div>
				<dl class="table mt10">
					<dd class="table-cell vt item-lt">
						<div class="fs12 col9 mb5">销售员</div>
						<div class="p10 fs13 col3 item-text">你好，咨询红酒方面问题。</div>
					</dd>
					<dt class="table-cell vt">
						<div class="item-pic"><img src="images/default-upload-img.png" alt="" class="imgm"></div>
					</dt>
				</dl>

				<div class="fs12 dialog-timestamp">2016-12-26 10:30:23</div>
				<dl class="table mt10">
					<dt class="table-cell vt">
						<div class="item-pic"><img src="images/default-avatar.jpg" alt="" class="imgm"></div>
					</dt>
					<dd class="table-cell vt item-rt">
						<div class="fs12 col9 mb5">罗美玲</div>
						<div class="p10 fs13 colf item-text">您好，请问您有什么问题要咨询？</div>
					</dd>
				</dl>

				<div class="fs12 dialog-timestamp">2016-12-26 10:30:23</div>
				<dl class="table mt10">
					<dd class="table-cell vt item-lt">
						<div class="fs12 col9 mb5">销售员</div>
						<div class="p10 fs13 col3 item-text">你好，咨询红酒方面问题。</div>
					</dd>
					<dt class="table-cell vt">
						<div class="item-pic"><img src="images/default-upload-img.png" alt="" class="imgm"></div>
					</dt>
				</dl>
		</div>

	</section>

	<div class="bottom-fixed dialog_input">
		<div class="table box-b bgf">
			<div href="javascript:;" class="table-cell vm pr10" id="dialog_input">
				<!-- <p class="box-b ba br5">认养</p> -->
				<input type="text" class="form_inp bgf p10 box-b ba br5" placeholder="请输入..." />
			</div>
			<a href="javascript:;" class="table-cell vm tc br5 item-sub">
				<span class="fs14 colf">发送</span>
			</a>
		</div>
	</div>
	<!-- main主体 end -->

</section>
<!-- 主体 end -->


<% include _foot.html%>
<script src="js/ios_prevent_pull_up.js"></script>
<script>
$(function(){
	$(document).on('click','.item-sub',function() {
		var say = $(this).prev().find("input").val();
		console.log(say);
		$(this).prev().find("input").focus().val("");
		$(".dialog_box").append(
			// '<div class="fs12 dialog-timestamp">2016-12-26 10:30:23</div>' +
			// 	'<dl class="table mt10">' +
			// 	'	<dt class="table-cell vt">' +
			// 	'		<div class="item-pic"><img src="images/default-avatar.jpg" alt="" class="imgm"></div>' +
			// 	'	</dt>' +
			// 	'	<dd class="table-cell vt item-rt">' +
			// 	'		<div class="fs12 col9 mb5">罗美玲</div>' +
			// 	'		<div class="p10 fs13 colf item-text">您好，请问您有什么问题要咨询1？</div>' +
			// 	'	</dd>' +
			// 	'</dl>' +
				'<div class="fs12 dialog-timestamp">2016-12-26 10:30:23</div>' +
				'<dl class="table mt10">' +
				'	<dd class="table-cell vt item-lt">' +
				'		<div class="fs12 col9 mb5">销售员</div>' +
				'		<div class="p10 fs13 col3 item-text">' +
				say +
				'</div>' +
				'	</dd>' +
				'	<dt class="table-cell vt">' +
				'		<div class="item-pic"><img src="images/default-upload-img.png" alt="" class="imgm"></div>' +
				'	</dt>' +
				'</dl>'
			);
		var h =  $(".dialog_box").outerHeight();
		console.log(h);
		$(".dialog-main").animate({"scrollTop":h}, 400);
		$(".dialog-main").scrollTop(h);
	});
});
</script>
</body>
</html>