<!doctype html>
<html>
<head>
	<title>6.1在线咨询</title>
<% include _head.html %>
</head>
<body>
<section class="wrap">

	<section class="main dialog-main">

		<div class="plr10 dialog_box">
				<div class="mt10 tc fs12 col9">2016-12-26 10:30:23</div>
				<dl class="table mt10">
					<dt class="table-cell vt">
						<div class="item-pic"><img src="images/default-avatar.jpg" alt="" class="imgm"></div>
					</dt>
					<dd class="table-cell vt item-rt">
						<!-- <div class="fs12 col9 mb8">罗美玲</div> -->
						<div class="p10 fs13 col-01 item-text">您好，请问您有什么问题要咨询？</div>
					</dd>
				</dl>
				<div class="mt10 tc fs12 col9">2016-12-26 10:30:23</div>
				<dl class="table mt10">
					<dd class="table-cell vt item-lt">
						<!-- <div class="fs12 col9 mb8">销售员</div> -->
						<div class="p10 fs13 col-01 item-text">你好，咨询红酒方面问题。</div>
					</dd>
					<dt class="table-cell vt">
						<div class="item-pic"><img src="images/default-avatar.jpg" alt="" class="imgm"></div>
					</dt>
				</dl>
				<div class="mt10 tc fs12 col9">2016-12-26 10:30:23</div>
				<dl class="table mt10">
					<dt class="table-cell vt">
						<div class="item-pic"><img src="images/default-avatar.jpg" alt="" class="imgm"></div>
					</dt>
					<dd class="table-cell vt item-rt">
						<!-- <div class="fs12 col9 mb8">罗美玲</div> -->
						<div class="p10 fs13 col-01 item-text">您好，请问您有什么问题要咨询？</div>
					</dd>
				</dl>
				<div class="mt10 tc fs12 col9">2016-12-26 10:30:23</div>
				<dl class="table mt10">
					<dd class="table-cell vt item-lt">
						<!-- <div class="fs12 col9 mb8">销售员</div> -->
						<div class="p10 fs13 col-01 item-text">你好，咨询红酒方面问题。</div>
					</dd>
					<dt class="table-cell vt">
						<div class="item-pic"><img src="images/default-avatar.jpg" alt="" class="imgm"></div>
					</dt>
				</dl>
				<div class="mt10 tc fs12 col9">2016-12-26 10:30:23</div>
				<dl class="table mt10">
					<dt class="table-cell vt">
						<div class="item-pic"><img src="images/default-avatar.jpg" alt="" class="imgm"></div>
					</dt>
					<dd class="table-cell vt item-rt">
						<a href="javascript:;" class="mt10 voice"><i class="Icon-voice"></i></a>
						<a href="javascript:;" class="mt10 voice"><i class="ico-voice"></i></a>
						<!-- <div class="p10 fs13 col-01 item-text">您好，请问您有什么问题要咨询？</div> -->
					</dd>
				</dl>
				<div class="mt10 tc fs12 col9">2016-12-26 10:30:23</div>
				<dl class="table mt10">
					<dd class="table-cell vt item-lt">
						<a href="javascript:;" class="mt10 voice voice-right"><i class="Icon-voice"></i></a>
						<a href="javascript:;" class="mt10 voice voice-right"><i class="ico-voice"></i></a>
					</dd>
					<dt class="table-cell vt">
						<div class="item-pic"><img src="images/default-avatar.jpg" alt="" class="imgm"></div>
					</dt>
				</dl>
				<dl class="table mt10">
					<dd class="table-cell vt item-lt">
						<div class="item-img item-text">
							<img src="images/default-guide3.png" alt="">
						</div>
					</dd>
					<dt class="table-cell vt">
						<div class="item-pic"><img src="images/default-avatar.jpg" alt="" class="imgm"></div>
					</dt>
				</dl>
		</div>



	</section>

	<!-- <div class="bottom-fixed dialog_input bgf">
		<div class="table">
			<a href="" class="table-cell w35">
				<img src="images/upload-pic.png" alt="" class="block">
			</a>
			<div href="javascript:;" class="table-cell vm plr10" id="dialog_input">
				<p class="box-b ba br5">认养</p>
				<input type="text" class="form_inp bgf p10 box-b ba br5" placeholder="请输入..." />
			</div>
			<a href="javascript:;" class="table-cell vm tc br5 item-sub">
				<span class="fs13 col-01">发送</span>
			</a>
		</div>
	</div> -->

<section class="bottom-fixed bgf" id="shuru-pop">
	<div class="fs13 voice-text-insert-wrap">
		<div class="voice-insert-wrap">
			<div class="flex-box tc">
				<a href="javascript:;" id="choise-pic" class="box-sizing ba br50 m-btn mr10"><i class="Icon-pic-btn"></i></a>
				<div class="ba br5 flex-grow-1 box-b m-input">
					<a href="" class="press-me">按住说话</a>
				</div>
				<a href="javascript:;" id="switch-text" class="box-sizing ba br50 m-btn"><i class="Icon-text-btn"></i></a>
			</div>
		</div>
		<div class="text-insert-wrap">
			<div class="flex-box">
				<a href="javascript:;" id="choise-pic" class="box-sizing ba br50 m-btn mr10"><i class="Icon-pic-btn"></i></a>
				<div class="ba br5 flex-grow-1 box-b m-input">
					<input type="text" placeholder="请输入..." class="text-me form_inp">
				</div>
				<a href="javascript:;" class="colf fs12 br3 mr10 send-btn">发送</a>
				<a href="javascript:;" id="switch-voice" class="box-sizing ba br50 m-btn"><i class="Icon-voice-btn"></i></a>
			</div>
		</div>
	</div>
</section>
<!-- 语音输入文字输入弹窗 -->
	<!-- main主体 end -->

</section>
<!-- 主体 end -->
<% include _foot.html %>
<script>
$(function(){
	$(document).on('click','.send-btn',function() {
		var say = $(this).prev().find("input").val();
		console.log(say);
		$(this).prev().find("input").focus().val("");
		$(".dialog_box").append(
			'<div class="mt10 tc fs12 col9">2016-12-26 10:30:23</div>' +
				'<dl class="table mt10">' +
				'	<dt class="table-cell vt">' +
				'		<div class="item-pic"><img src="images/default-avatar.jpg" alt="" class="imgm"></div>' +
				'	</dt>' +
				'	<dd class="table-cell vt item-rt">' +
				// '		<div class="fs12 col9 mb8">罗美玲</div>' +
				'		<div class="p10 fs13 col-01 item-text">您好，请问您有什么问题要咨询1？</div>' +
				'	</dd>' +
				'</dl>' +
				'<div class="mt10 tc fs12 col9">2016-12-26 10:30:23</div>' +
				'<dl class="table mt10">' +
				'	<dd class="table-cell vt item-lt">' +
				// '		<div class="fs12 col9 mb8">销售员</div>' +
				'		<div class="p10 fs13 col-01 item-text">' +
				say +
				'</div>' +
				'	</dd>' +
				'	<dt class="table-cell vt">' +
				'		<div class="item-pic"><img src="images/default-avatar.jpg" alt="" class="imgm"></div>' +
				'	</dt>' +
				'</dl>'
			);
		var h =  $(".dialog_box").outerHeight();
		console.log(h);
		$(".dialog-main").animate({"scrollTop":h}, 400);
		$(".dialog-main").scrollTop(h);
	});
});
</script>
<script>
	$("#switch-text").on("click",function(){
		console.log("#switch-text");
		$(".text-insert-wrap").slideDown('fast');
		$(".text-me").focus();
		$(".voice-insert-wrap").slideUp('fast');
	});
	$("#switch-voice").on("click",function(){
		console.log("#switch-voice");
		$(".text-insert-wrap").slideUp('fast');
		$(".voice-insert-wrap").slideDown('fast');
	})
</script>
</body>
</html>