<!doctype html>
<html>
<head>
	<title>1.4领取优惠券</title>
<% include _head.html %>
</head>
<body>
<section class="wrap">

	<section class="main">

		<div class="detail_ban">
			<img src="images/coupon-ban.jpg" alt="" class="block ma">
		</div>

		<ul class="p10">
			<li class="mb10 relative">
				<a href="" class="coupon_wrap flex-box flex-col-stretch bgf">
					<div class="flex-box flex-col flex-between flex-grow-1">
						<div class="flex-box plr10 pt10 w-100">
							<div class="img-wrap flex-grow-0 ba br5 mr10 hidden">
								<p class="item-pic">
									<img src="images/coupon.png" alt="" class="imgm">
								</p>
							</div>
							<div class="pb10">
								<p class="col-primary fs24">¥ <em class="fs40">20</em></p>
								<span class="fs12 coupon_text">门店销售使用优惠券抵扣</span>
							</div>
						</div>
						<div class="coupon_bottom colf fs12 pl15 box-b w-100">
							2016.03.01-2016.04.02
						</div>
					</div>
					<div class="pt5 flex-box flex-col flex-between flex-grow-0 coupon_right box-b">
						<div class="flex-box w-100 flex-grow-1 flex-center box-b">
							<div class="pl5">立<br/>即<br/>领<br/>取</div>
							<i class="Icon-arrow pr5"></i>
						</div>
						<div class="coupon_bottom flex-grow-0 w-100">
						</div>
					</div>
				</a>
				<div class="coupon_wrap_sub">
				</div>
			</li>
			<li class="mb10 relative out-date">
				<a href="" class="coupon_wrap flex-box flex-col-stretch bgf">
					<div class="flex-box flex-col flex-between flex-grow-1">
						<div class="flex-box plr10 pt10 w-100">
							<div class="img-wrap flex-grow-0 ba br5 mr10 hidden">
								<p class="item-pic">
									<img src="images/coupon1.jpg" alt="" class="imgm">
								</p>
							</div>
							<div class="pb10">
								<p class="col-c9 fs24">¥ <em class="fs40">20</em></p>
								<span class="fs12 coupon_text">门店销售使用优惠券抵扣</span>
							</div>
						</div>
						<div class="coupon_bottom colf fs12 pl15 box-b w-100">
							2016.03.01-2016.04.02
						</div>
					</div>
					<div class="pt5 flex-box flex-col flex-between flex-grow-0 coupon_right box-b">
						<div class="flex-box w-100 flex-grow-1 flex-center box-b">
							<div class="col9 pr5">已<br/>使<br/>用</div>
						</div>
						<div class="coupon_bottom flex-grow-0 w-100">
						</div>
					</div>
				</a>
				<div class="coupon_wrap_sub">
				</div>
			</li>
		</ul>
	</section>

<% include _foot.html %>

<script>
	$(function(){
		$(".item-pic").each(function(){
			var w = $(this).width();
			$(this).css({"height": w});
		});
		//优惠劵高度
		$(".coupon_wrap_sub").each(function() {
			var coupon_h = $(".coupon_wrap").outerHeight();
			var coupon_r = $(".coupon_right").width() - 5;
			$(".coupon_wrap_sub").css({"height":coupon_h,"right":coupon_r})
		});
	});
</script>

</section>


</body>
</html>