<!doctype html>
<html>

<head>
  <title>7.0我的优惠券</title>
  <% include _head.html %>
</head>

<body>
<section class="wrap">

	<section class="main">
		<div class="p10 member-head" style="padding: 20px 10px;background: url('images/default-mem-top_bg1.png') 0 0 no-repeat;background-size: cover">
			<div class="clearfix">
					<span class="colf">可用优惠券 <em class="fs40">2</em> 张</span>
				</div>
			<p class="colf fs12" style="color: darkred">下单时可满足条件，优惠券即可直接抵扣现金！</p>
		</div>

		<ul class="p10 voucher_con">
			<li class="bgf ba plr10 mb10"><a href="">
				<div class="ptb10 item-hd">
					<p class="fs14 col0">店铺优惠券（仅限新客使用）</p>
					<span class="mt10 gold1">¥  <b class="vb fs30">50</b></span>
				</div>
				<div class="tr col6 item-bd">2016.7.11 - 2016.8.11</div>
			</a></li>
			<li class="bgf ba plr10 mb10 over"><a href="">
				<div class="ptb10 item-hd">
					<p class="fs14 col0">店铺优惠券（仅限新客使用）</p>
					<span class="mt10">¥  <b class="vb fs30">50</b></span>
				</div>
				<div class="tr col6 item-bd">2016.7.11 - 2016.8.11</div>
			</a></li>
			<li class="bgf ba plr10 mb10 used"><a href="">
				<div class="ptb10 item-hd">
					<p class="fs14 col0">店铺优惠券（仅限新客使用）</p>
					<span class="mt10">¥  <b class="vb fs30">50</b></span>
				</div>
				<div class="tr col6 item-bd">2016.7.11使用</div>
			</a></li>
		</ul>


	</section>

</section>

<% include _foot.html %>
</body>
</html>