
<!-- 底部悬浮 -->
<div class="bottom-fixed">
	<footer class="table bt-f1 bgf tc fs10 footer">
		<a href="#" class="table-cell vm m-col-14 br"><i class="ico-foot0 block ma"></i>首页</a>
		<a href="#" class="table-cell vm m-col-14 br"><i class="ico-foot1 block ma hint-num"><em>2</em></i>购物车</a>
		<a href="#" class="table-cell vm bg-orange fs15 colf open-popup" data-target="#spec-pop">
		<i class="ico-foot2"></i>加入购物车</a>
		<a href="javascript:;" class="table-cell vm bg-red fs15 colf open-popup" data-target="#spec-pop">
		<i class="ico-foot3"></i>立即购买</a>
	</footer>
</div>
<!--  -->